<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Iteration" data-toc-modified-id="Iteration-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Iteration</a></span><ul class="toc-item"><li><span><a href="#21.1-Introduction" data-toc-modified-id="21.1-Introduction-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>21.1 Introduction</a></span><ul class="toc-item"><li><span><a href="#21.1.1-Prerequisites" data-toc-modified-id="21.1.1-Prerequisites-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>21.1.1 Prerequisites</a></span></li></ul></li><li><span><a href="#21.2-For-loops" data-toc-modified-id="21.2-For-loops-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>21.2 For loops</a></span><ul class="toc-item"><li><span><a href="#21.2.1-Exercises" data-toc-modified-id="21.2.1-Exercises-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>21.2.1 Exercises</a></span></li></ul></li><li><span><a href="#21.3-For-loop-variations" data-toc-modified-id="21.3-For-loop-variations-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>21.3 For loop variations</a></span><ul class="toc-item"><li><span><a href="#21.3.1-Modifying-an-existing-object" data-toc-modified-id="21.3.1-Modifying-an-existing-object-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>21.3.1 Modifying an existing object</a></span></li><li><span><a href="#21.3.2-Looping-patterns" data-toc-modified-id="21.3.2-Looping-patterns-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>21.3.2 Looping patterns</a></span></li><li><span><a href="#21.3.3-Unknown-output-length" data-toc-modified-id="21.3.3-Unknown-output-length-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>21.3.3 Unknown output length</a></span></li><li><span><a href="#21.3.4-Unknown-sequence-length" data-toc-modified-id="21.3.4-Unknown-sequence-length-1.3.4"><span class="toc-item-num">1.3.4&nbsp;&nbsp;</span>21.3.4 Unknown sequence length</a></span></li><li><span><a href="#21.3.5-Exercises" data-toc-modified-id="21.3.5-Exercises-1.3.5"><span class="toc-item-num">1.3.5&nbsp;&nbsp;</span>21.3.5 Exercises</a></span></li></ul></li><li><span><a href="#For-loops-vs.-functionals" data-toc-modified-id="For-loops-vs.-functionals-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>For loops vs. functionals</a></span><ul class="toc-item"><li><span><a href="#21.4.1-Exercises" data-toc-modified-id="21.4.1-Exercises-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>21.4.1 Exercises</a></span></li><li><span><a href="#Exercise-21.4.2__" data-toc-modified-id="Exercise-21.4.2__-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>Exercise 21.4.2<a href="https://jrnold.github.io/r4ds-exercise-solutions/iteration.html#exercise-21.4.2" target="_blank">__</a></a></span></li></ul></li><li><span><a href="#21.5-The-map-functions" data-toc-modified-id="21.5-The-map-functions-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>21.5 The map functions</a></span><ul class="toc-item"><li><span><a href="#21.5.1-Shortcuts" data-toc-modified-id="21.5.1-Shortcuts-1.5.1"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span>21.5.1 Shortcuts</a></span></li><li><span><a href="#21.5.2-Base-R" data-toc-modified-id="21.5.2-Base-R-1.5.2"><span class="toc-item-num">1.5.2&nbsp;&nbsp;</span>21.5.2 Base R</a></span></li><li><span><a href="#21.5.3-Exercises" data-toc-modified-id="21.5.3-Exercises-1.5.3"><span class="toc-item-num">1.5.3&nbsp;&nbsp;</span>21.5.3 Exercises</a></span></li><li><span><a href="#Exercise-21.5.5__" data-toc-modified-id="Exercise-21.5.5__-1.5.4"><span class="toc-item-num">1.5.4&nbsp;&nbsp;</span>Exercise 21.5.5<a href="https://jrnold.github.io/r4ds-exercise-solutions/iteration.html#exercise-21.5.5" target="_blank">__</a></a></span></li></ul></li><li><span><a href="#21.6-Dealing-with-failure" data-toc-modified-id="21.6-Dealing-with-failure-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>21.6 Dealing with failure</a></span></li><li><span><a href="#21.7-Mapping-over-multiple-arguments" data-toc-modified-id="21.7-Mapping-over-multiple-arguments-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>21.7 Mapping over multiple arguments</a></span><ul class="toc-item"><li><span><a href="#21.7.1-Invoking-different-functions" data-toc-modified-id="21.7.1-Invoking-different-functions-1.7.1"><span class="toc-item-num">1.7.1&nbsp;&nbsp;</span>21.7.1 Invoking different functions</a></span></li></ul></li><li><span><a href="#21.8-Walk" data-toc-modified-id="21.8-Walk-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>21.8 Walk</a></span></li><li><span><a href="#21.9-Other-patterns-of-for-loops" data-toc-modified-id="21.9-Other-patterns-of-for-loops-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>21.9 Other patterns of for loops</a></span><ul class="toc-item"><li><span><a href="#21.9.1-Predicate-functions" data-toc-modified-id="21.9.1-Predicate-functions-1.9.1"><span class="toc-item-num">1.9.1&nbsp;&nbsp;</span>21.9.1 Predicate functions</a></span></li><li><span><a href="#21.9.2-Reduce-and-accumulate" data-toc-modified-id="21.9.2-Reduce-and-accumulate-1.9.2"><span class="toc-item-num">1.9.2&nbsp;&nbsp;</span>21.9.2 Reduce and accumulate</a></span></li><li><span><a href="#21.9.3-Exercises" data-toc-modified-id="21.9.3-Exercises-1.9.3"><span class="toc-item-num">1.9.3&nbsp;&nbsp;</span>21.9.3 Exercises</a></span></li><li><span><a href="#Exercise-21.9.3__" data-toc-modified-id="Exercise-21.9.3__-1.9.4"><span class="toc-item-num">1.9.4&nbsp;&nbsp;</span>Exercise 21.9.3<a href="https://jrnold.github.io/r4ds-exercise-solutions/iteration.html#exercise-21.9.3" target="_blank">__</a></a></span></li></ul></li></ul></li><li><span><a href="#Purrr-beyond-map" data-toc-modified-id="Purrr-beyond-map-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Purrr beyond map</a></span><ul class="toc-item"><li><span><a href="#map()-Apply-to-all" data-toc-modified-id="map()-Apply-to-all-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>map() Apply to all</a></span></li><li><span><a href="#map()-has-siblings:-walk()-and-modify()" data-toc-modified-id="map()-has-siblings:-walk()-and-modify()-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>map() has siblings: walk() and modify()</a></span></li><li><span><a href="#map()-variants-cheatsheet" data-toc-modified-id="map()-variants-cheatsheet-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>map() variants cheatsheet</a></span></li><li><span><a href="#Predicate-functionals" data-toc-modified-id="Predicate-functionals-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Predicate functionals</a></span></li><li><span><a href="#Other-vector-transformations" data-toc-modified-id="Other-vector-transformations-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Other vector transformations</a></span><ul class="toc-item"><li><span><a href="#Using-accumulate()" data-toc-modified-id="Using-accumulate()-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>Using <code>accumulate()</code></a></span></li></ul></li><li><span><a href="#Adverbs" data-toc-modified-id="Adverbs-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Adverbs</a></span></li><li><span><a href="#safely(),-possibly(),-and-insistently()" data-toc-modified-id="safely(),-possibly(),-and-insistently()-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span><code>safely()</code>, <code>possibly()</code>, and <code>insistently()</code></a></span></li><li><span><a href="#More-purrr-fun(ctions)But-wait,-there's-more..." data-toc-modified-id="More-purrr-fun(ctions)But-wait,-there's-more...-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>More <code>purrr</code> fun(ctions)But wait, there's more...</a></span></li></ul></li><li><span><a href="#Misc" data-toc-modified-id="Misc-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Misc</a></span><ul class="toc-item"><li><span><a href="#Paste" data-toc-modified-id="Paste-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Paste</a></span></li><li><span><a href="#group_nest()" data-toc-modified-id="group_nest()-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>group_nest()</a></span></li><li><span><a href="#glue" data-toc-modified-id="glue-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>glue</a></span></li><li><span><a href="#Map" data-toc-modified-id="Map-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Map</a></span></li></ul></li></ul></div>

# Iteration

## 21.1 Introduction

In [functions](https://r4ds.had.co.nz/functions.html#functions), we talked about how important it is to reduce duplication in your code by creating functions instead of copying-and-pasting. Reducing code duplication has three main benefits:

1.  It’s easier to see the intent of your code, because your eyes are
    drawn to what’s different, not what stays the same.


2.  It’s easier to respond to changes in requirements. As your needs
    change, you only need to make changes in one place, rather than
    remembering to change every place that you copied-and-pasted the
    code.


3.  You’re likely to have fewer bugs because each line of code is
    used in more places.

One tool for reducing duplication is functions, which reduce duplication by identifying repeated patterns of code and extract them out into independent pieces that can be easily reused and updated. 

<b><font color = 'purple'>Another tool for reducing duplication is **iteration**, which helps you when you need to do the same thing to multiple inputs </font></b>: repeating the same operation on different columns, or on different datasets.


<b><font color = 'purple'>In this chapter you’ll learn about two important iteration paradigms:  </font></b> <font color = 'blue'><b>imperative programming and functional programming</b></font>. 

On the <font color = 'green'><b>imperative</b></font> side you have tools like for loops and while loops, which are a great place to start because they make iteration very explicit, so it’s obvious what’s happening. 

* However, for loops are quite verbose, and require quite a bit of bookkeeping code that is duplicated for every for loop. 

<font color = 'green'><b>Functional programming (FP)</b></font> <font color = 'blue'>offers tools to extract out this duplicated code, so each common for loop pattern gets its own function</font>. Once you master the vocabulary of FP, you can solve many common iteration problems with less code, more ease, and fewer errors.

### 21.1.1 Prerequisites

Once you’ve mastered the for loops provided by base R, you’ll learn some of the powerful programming tools provided by purrr, one of the tidyverse core packages.

In [ ]:
library(tidyverse)

## 21.2 For loops

Imagine we have this simple tibble:



```R
df <- tibble(
  a = rnorm(10),
  b = rnorm(10),
  c = rnorm(10),
  d = rnorm(10)
)
```

We want to compute the median of each column. You _could_ do with copy-and-paste:



```R
median(df$a)
#> [1] -0.246
median(df$b)
#> [1] -0.287
median(df$c)
#> [1] -0.0567
median(df$d)
#> [1] 0.144
```

But that breaks our rule of thumb: never copy and paste more than twice. Instead, we could use a for loop:



```R
output <- vector("double", ncol(df))  # 1. output

for (i in seq_along(df)) {            # 2. sequence
  output[[i]] <- median(df[[i]])      # 3. body
}

output
#> [1] -0.2458 -0.2873 -0.0567  0.1443
```

Every for loop has three components:

1.  The **output**: `output <- vector("double", length(x))`.
    Before you start the loop, you must always <font color = 'blue'>allocate sufficient space
    for the output</font>. This is very important for efficiency: <font color = 'red'>if you grow
    the for loop at each iteration using `c()` (for example), your for loop
    will be very slow</font>.

    <font color = 'blue'>A general way of creating an empty vector of given length is the `vector()`
    function</font>. It has two arguments: the type of the vector (“logical”,
    “integer”, “double”, “character”, etc) and the length of the vector.

2.  The **sequence**: `i in seq_along(df)`. This determines what to loop over:
    each run of the for loop will assign `i` to a different value from
    `seq_along(df)`. It’s useful to think of `i` as a pronoun, like “it”.

    You might not have seen `seq_along()` before. It’s a safe version of the
    familiar `1:length(l)`, with an important difference: if you have a
    zero-length vector, `seq_along()` does the right thing:

```R
y <- vector("double", 0)

seq_along(y)
#> integer(0)

1:length(y)
#> [1] 1 0
```

You probably won’t create a zero-length vector deliberately, but
it’s easy to create them accidentally. If you use `1:length(x)` instead
of `seq_along(x)`, you’re likely to get a confusing error message.

3.  The **body**: `output[[i]] <- median(df[[i]])`. This is the code that does
    the work. It’s run repeatedly, each time with a different value for `i`.
    The first iteration will run `output[[1]] <- median(df[[1]])`,
    the second will run `output[[2]] <- median(df[[2]])`, and so on.

That’s all there is to the for loop! Now is a good time to practice creating some basic (and not so basic) for loops using the exercises below. Then we’ll move on some variations of the for loop that help you solve other problems that will crop up in practice.

### 21.2.1 Exercises

<b>1.  Write for loops to:
    1.  Compute the mean of every column in `mtcars`.
    2.  Determine the type of each column in `nycflights13::flights`.
    3.  Compute the number of unique values in each column of `iris`.
    4.  Generate 10 random normals from distributions with means of -10, 0, 10, and 100.

Think about the output, sequence, and body **before** you start writing
    the loop.</b>

###### my attempt

In [ ]:
output <- vector("double", ncol(mtcars))

for (i in seq_along(mtcars)) {
    output[[i]] = mtcars[[i]] %>% mean()
}

output

In [ ]:
flights <- nycflights13::flights

for (i in seq_along(flights)) {
    print(typeof(flights[[i]]))
}

In [ ]:
for (i in seq_along(iris)) {
    print(unique(iris[[i]]) %>% length())
}

In [ ]:
for (i in c(-10, 0, 10, 100)) {
    print(rnorm(10, mean = i))
}

###### jrnold

In [ ]:
output <- vector("double", ncol(mtcars))
names(output) <- names(mtcars)

for (i in names(mtcars)) {
  output[i] <- mean(mtcars[[i]])
}

output

In [ ]:
output <- vector("list", ncol(nycflights13::flights))
names(output) <- names(nycflights13::flights)

for (i in names(nycflights13::flights)) {
  output[[i]] <- class(nycflights13::flights[[i]])
}
output

In [ ]:
data("iris")
iris_uniq <- vector("double", ncol(iris))
names(iris_uniq) <- names(iris)

for (i in names(iris)) {
  iris_uniq[i] <- length(unique(iris[[i]]))
}
iris_uniq

In [ ]:
# number to draw
n <- 10

# values of the mean
mu <- c(-10, 0, 10, 100)

normals <- vector("list", length(mu))

for (i in seq_along(normals)) {
  normals[[i]] <- rnorm(n, mean = mu[i])
}

normals

##### <b>2. Eliminate the for loop in each of the following examples by taking advantage of an existing function that works with vectors: </b>

```R
out <- ""
for (x in letters) {
  out <- stringr::str_c(out, x)
}

x <- sample(100)
sd <- 0
for (i in seq_along(x)) {
  sd <- sd + (x[i] - mean(x)) ^ 2
}
sd <- sqrt(sd / (length(x) - 1))

x <- runif(100)
out <- vector("numeric", length(x))
out[1] <- x[1]
for (i in 2:length(x)) {
  out[i] <- out[i - 1] + x[i]
}
```

##### <hr>

In [ ]:
out <- ""
for (x in letters) {
  out <- stringr::str_c(out, x)
}
out

In [ ]:
# Since str_c() already works with vectors, 
# use str_c() with the collapse argument to return a single string.

str_c(letters, collapse = "")

<hr>

In [ ]:
x <- sample(100)
sd <- 0
for (i in seq_along(x)) {
  sd <- sd + (x[i] - mean(x)) ^ 2
}
sd <- sqrt(sd / (length(x) - 1))
sd

In [ ]:
# We could simply use the sd function.

sd(x)

<hr>

In [ ]:
x <- runif(100)
out <- vector("numeric", length(x))
out[1] <- x[1]

for (i in 2:length(x)) {
  out[i] <- out[i - 1] + x[i]
}

out %>% head

In [ ]:
cumsum(x) %>% head

In [ ]:
all.equal(cumsum(x), out)

##### <b>3.  Combine your function writing and for loop skills:

<b>
    
1.  Write a for loop that `prints()` the lyrics to the children’s song
    “Alice the camel”.

    
2.  Convert the nursery rhyme “ten in the bed” to a function. Generalise
    it to any number of people in any sleeping structure.

    
3.  Convert the song “99 bottles of beer on the wall” to a function.
    Generalise to any number of any vessel containing any liquid on
    any surface.</b>

##### <b>4. It’s common to see for loops that don’t preallocate the output and instead increase the length of a vector at each step: </b>

```R
output <- vector("integer", 0)
for (i in seq_along(x)) {
  output <- c(output, lengths(x[[i]]))
}
output
```

<b>How does this affect performance? Design and execute an experiment.</b>

```R 
add_to_vector <- function(n) {
  output <- vector("integer", 0)
  for (i in seq_len(n)) {
    output <- c(output, i)
  }
  output
}

```



```R
add_to_vector_2 <- function(n) {
  output <- vector("integer", n)
  for (i in seq_len(n)) {
    output[[i]] <- i
  }
  output
}
```

I’ll use the package microbenchmark to run these functions several times and compare the time it takes.
The package microbenchmark contains utilities for benchmarking R expressions.
In particular, the `microbenchmark()` function will run an R expression a number of times and time it.



```R
timings <- microbenchmark(add_to_vector(10000), add_to_vector_2(10000), times = 10)
timings
#> Unit: microseconds
#>                    expr    min     lq   mean median     uq    max neval
#>    add_to_vector(10000) 126784 127629 137461 134605 140920 168541    10
#>  add_to_vector_2(10000)    624    637   1801    650    718   7134    10
```

In this example, appending to a vector takes 207 times longer than pre-allocating the vector.
You may get different answers, but the longer the vector and the larger the objects,
<hypothesis-highlight class="hypothesis-highlight"> the more that pre-allocation will outperform appending.</hypothesis-highlight>

## 21.3 For loop variations

Once you have the basic for loop under your belt, there are some variations that you should be aware of. These variations are important regardless of how you do iteration, so don’t forget about them once you’ve mastered the FP techniques you’ll learn about in the next section.

<b><font color = 'purple'>There are four variations on the basic theme of the for loop: </font></b>


1.  Modifying an existing object, instead of creating a new object.
2.  Looping over names or values, instead of indices.
3.  Handling outputs of unknown length.
4.  Handling sequences of unknown length.

### 21.3.1 Modifying an existing object

Sometimes you want to use a for loop to modify an existing object. For example, <b><font color = 'purple'>remember our challenge from [functions](https://r4ds.had.co.nz/functions.html#functions). We wanted to rescale every column in a data frame: </font></b>

```R
df <- tibble(
  a = rnorm(10),
  b = rnorm(10),
  c = rnorm(10),
  d = rnorm(10)
)
rescale01 <- function(x) {
  rng <- range(x, na.rm = TRUE)
  (x - rng[1]) / (rng[2] - rng[1])
}

df$a <- rescale01(df$a)
df$b <- rescale01(df$b)
df$c <- rescale01(df$c)
df$d <- rescale01(df$d)
```

<b><font color = 'purple'>To solve this with a for loop we again think about the three components: </font></b>

1.  **Output**: we already have the output — it’s the same as the input!

2.  **Sequence**: we can think about a data frame as a list of columns, so
    we can iterate over each column with `seq_along(df)`.

3.  **Body**: apply `rescale01()`.

This gives us:

```R
for (i in seq_along(df)) {
  df[[i]] <- rescale01(df[[i]])
}
```

Typically you’ll be modifying a list or data frame with this sort of loop, so remember to use `[[`, not `[`. You might have spotted that I used `[[` in all my for loops: <font color = 'blue'><b>I think it’s better to use `[[` even for atomic vectors because it makes it clear that I want to work with a single element.</b></font>

### 21.3.2 Looping patterns

<b><font color = 'purple'>There are three basic ways to loop over a vector </font></b>. So far I’ve shown you the most general: looping over the numeric indices with `for (i in seq_along(xs))`, and extracting the value with `x[[i]]`. There are two other forms:

1.  Loop over the elements: `for (x in xs)`. This is most <font color = 'blue'>useful if you only
    care about side-effects, like plotting or saving a file</font>, because it’s
    difficult to save the output efficiently.


2.  Loop over the names: `for (nm in names(xs))`. This gives you name, which
    you can use to access the value with `x[[nm]]`. This is<font color = 'blue'> useful if you want
    to use the name in a plot title or a file name</font>. <font color = 'green'><b>If you’re creating
    named output, make sure to name the results vector like so:</b></font>

    

```R
results <- vector("list", length(x))
names(results) <- names(x)
```

Iteration over the numeric indices is the most general form, because given the position you can extract both the name and the value:



```R
for (i in seq_along(x)) {
  name <- names(x)[[i]]
  value <- x[[i]]
}
```

### 21.3.3 Unknown output length

<font color = 'purple'>Sometimes you might not know how long the output will be.  </font>

<b><font color = 'purple'>For example, imagine you want to simulate some random vectors of random lengths </font></b>. You might be tempted to solve this problem by progressively growing the vector:



```R
means <- c(0, 1, 2)

output <- double()
for (i in seq_along(means)) {
  n <- sample(100, 1)
  output <- c(output, rnorm(n, means[[i]]))
}
str(output)
#>  num [1:138] 0.912 0.205 2.584 -0.789 0.588 ...
```

In [ ]:
sample(100, size = 1)

But this is not very efficient because in each iteration, R has to copy all the data from the previous iterations. In technical terms you get “quadratic” $(O(n^2))$ behaviour which means that a loop with three times as many elements would take nine ($3^2$) times as long to run.

A better solution to save the results in a list, and then combine into a single vector after the loop is done:

```R
means <- c(0, 1, 2)
out <- vector("list", length(means))

for (i in seq_along(means)) {
  n <- sample(100, 1)
  out[[i]] <- rnorm(n, means[[i]])
}

str(out)
#> List of 3
#>  $ : num [1:76] -0.3389 -0.0756 0.0402 0.1243 -0.9984 ...
#>  $ : num [1:17] -0.11 1.149 0.614 0.77 1.392 ...
#>  $ : num [1:41] 1.88 2.46 2.62 1.82 1.88 ...

str(unlist(out))
#>  num [1:134] -0.3389 -0.0756 0.0402 0.1243 -0.9984 ...
```

In [ ]:
# code
means <- c(0, 1, 2)
out <- vector("list", length(means))

for (i in seq_along(means)) {
  n <- sample(100, 1)
  out[[i]] <- rnorm(n, means[[i]])
}
out

str(out)
#> List of 3
#>  $ : num [1:76] -0.3389 -0.0756 0.0402 0.1243 -0.9984 ...
#>  $ : num [1:17] -0.11 1.149 0.614 0.77 1.392 ...
#>  $ : num [1:41] 1.88 2.46 2.62 1.82 1.88 ...

str(unlist(out))
#>  num [1:134] -0.3389 -0.0756 0.0402 0.1243 -0.9984 ...

<font color = 'blue'>Here I’ve used `unlist()` to flatten a list of vectors into a single vector. A stricter option is to use `purrr::flatten_dbl()` — it will throw an error if the input isn’t a list of doubles.</font>

This pattern occurs in other places too:

1.  You might be generating a long string. Instead of `paste()`ing together
    each iteration with the previous, save the output in a character vector and
    then combine that vector into a single string with
    `paste(output, collapse = "")`.
    

2.  You might be generating a big data frame. Instead of sequentially
    `rbind()`ing in each iteration, save the output in a list, then use
    `dplyr::bind_rows(output)` to combine the output into a single
    data frame.

Watch out for this pattern. Whenever you see it, switch to a more complex result object, and then combine in one step at the end.

### 21.3.4 Unknown sequence length

Sometimes you don’t even know how long the input sequence should run for. This is common when doing simulations. For example, you might want to loop until you get three heads in a row. You can’t do that sort of iteration with the for loop. Instead, you can use a while loop. A while loop is simpler than for loop because it only has two components, a condition and a body:



```R
while (condition) {
  # body
}
```

<font color = 'blue'>A while loop is also more general than a for loop, because you can rewrite any for loop as a while loop, but you <b>can’t rewrite every while loop as a for loop</b></font>:



```R
for (i in seq_along(x)) {
  # body
}

# Equivalent to
i <- 1
while (i <= length(x)) {
  # body
  i <- i + 1 
}
```

Here’s how we could use a while loop to find how many tries it takes to get three heads in a row:



```R
flip <- function() sample(c("T", "H"), 1)

flips <- 0
nheads <- 0

while (nheads < 3) {
  if (flip() == "H") {
    nheads <- nheads + 1
  } else {
    nheads <- 0
  }
  flips <- flips + 1
}
flips
#> [1] 21
```

I mention while loops only briefly, because I hardly ever use them. They’re most often used for simulation, which is outside the scope of this book. However, it is good to know they exist so that you’re prepared for problems where the number of iterations is not known in advance.

### 21.3.5 Exercises

##### Exercise 21.3.1[__](https://jrnold.github.io/r4ds-exercise-solutions/iteration.html#exercise-21.3.1)

Imagine you have a directory full of CSV files that you want to read in. You have their paths in a vector, `files <- dir("data/", pattern = "\\.csv$", full.names = TRUE)`, and now want to read each one with `read_csv()`. 

<b>Write the for loop that will load them into a single data frame.</b>



```R
files <- dir("data/", pattern = "\\.csv$", full.names = TRUE)
files
#> [1] "data//file1.csv" "data//file2.csv" "data//file3.csv"
```

In [ ]:
files <- dir("data/", pattern = "\\.csv$", full.names = TRUE)
files

Since, the number of files is 
<hypothesis-highlight class="hypothesis-highlight">know</hypothesis-highlight>n, pre-allocate a list with a length equal to the number of files.



```R
df_list <- vector("list", length(files))
```

In [ ]:
df_list <- vector("list", length(files))

df_list

Then, read each file into a data frame, and assign it to an element in that list. The result is a list of dataframes.

```R
for (i in seq_along(files)) {
  df_list[[i]] <- read_csv(files[[i]])
}
#> Parsed with column specification:
#> cols(
#>   X1 = col_double(),
#>   X2 = col_character()
#> )
#> Parsed with column specification:
#> cols(
#>   X1 = col_double(),
#>   X2 = col_character()
#> )
#> Parsed with column specification:
#> cols(
#>   X1 = col_double(),
#>   X2 = col_character()
#> )
```

In [ ]:
for (i in seq_along(files)) {
  df_list[[i]] <- read_csv(files[[i]])
}

```R
print(df_list)
#> [[1]]
#> # A tibble: 2 x 2
#>      X1 X2   
#>   <dbl> <chr>
#> 1     1 a    
#> 2     2 b    
#> 
#> [[2]]
#> # A tibble: 2 x 2
#>      X1 X2   
#>   <dbl> <chr>
#> 1     3 c    
#> 2     4 d    
#> 
#> [[3]]
#> # A tibble: 2 x 2
#>      X1 X2   
#>   <dbl> <chr>
#> 1     5 e    
#> 2     6 f
```

In [ ]:
print(df_list)

In [ ]:
df_list[[1]] %>% class

Finally, use use `bind_rows()` to combine the list of data frames into a single data frame.



```R
df <- bind_rows(df_list)
```

In [ ]:
df <- bind_rows(df_list)
print(df)

```R
print(df)
#> # A tibble: 6 x 2
#>      X1 X2   
#>   <dbl> <chr>
#> 1     1 a    
#> 2     2 b    
#> 3     3 c    
#> 4     4 d    
#> 5     5 e    
#> 6     6 f
```

Alternatively, I could have pre-allocated a list with the names of the files.

```R
df2_list <- vector("list", length(files))
names(df2_list) <- files

for (fname in files) {
  df2_list[[fname]] <- read_csv(fname)
}
#> Parsed with column specification:
#> cols(
#>   X1 = col_double(),
#>   X2 = col_character()
#> )
#> Parsed with column specification:
#> cols(
#>   X1 = col_double(),
#>   X2 = col_character()
#> )
#> Parsed with column specification:
#> cols(
#>   X1 = col_double(),
#>   X2 = col_character()
#> )
df2 <- bind_rows(df2_list)
```

##### Exercise 21.3.2[__](https://jrnold.github.io/r4ds-exercise-solutions/iteration.html#exercise-21.3.2)

What happens if you use `for (nm in names(x))` and `x` has no names?
What if only some of the elements are named?
What if the names are not unique?

Let’s try it out and see what happens.
When there are no names for the vector, it does not run the code in the loop.
In other words, it runs zero iterations of the loop.

In [ ]:
x <- c(11, 12, 13)
print(names(x))
#> NULL

for (nm in names(x)) {
  print(nm)
  print(x[[nm]])
}

Note that the length of `NULL` is zero:

```R 
length(NULL)
#> [1] 0
```

If there only some names, then we get an error for trying to access an element without a name.

```R
x <- c(a = 11, 12, c = 13)
names(x)
#> [1] "a" ""  "c"
```



```R
for (nm in names(x)) {
  print(nm)
  print(x[[nm]])
}
#> [1] "a"
#> [1] 11
#> [1] ""
#> Error in x[[nm]]: subscript out of bounds
```

Finally, if the vector contains duplicate names, then `x[[nm]]` returns the _first_ element with that name.

```R
x <- c(a = 11, a = 12, c = 13)
names(x)
#> [1] "a" "a" "c"
```

```R
for (nm in names(x)) {
  print(nm)
  print(x[[nm]])
}
#> [1] "a"
#> [1] 11
#> [1] "a"
#> [1] 11
#> [1] "c"
#> [1] 13
```

##### Exercise 21.3.3[__](https://jrnold.github.io/r4ds-exercise-solutions/iteration.html#exercise-21.3.3)

Write a function that prints the mean of each numeric column in a data frame, along with its name.
For example, `show_mean(iris)` would print:



```R
show_mean(iris)
# > Sepal.Length: 5.84
# > Sepal.Width:  3.06
# > Petal.Length: 3.76
# > Petal.Width:  1.20
```

Extra challenge: what function did I use to make sure that the numbers lined up nicely, even though the variable names had different lengths?

There may be other functions to do this, but I’ll use `str_pad()`, and `str_length()` to ensure that the space given to the variable names is the same.
I messed around with the options to `format()` until I got two digits.



```R
show_mean <- function(df, digits = 2) {
  # Get max length of all variable names in the dataset
  maxstr <- max(str_length(names(df)))
  for (nm in names(df)) {
    if (is.numeric(df[[nm]])) {
      cat(
        str_c(str_pad(str_c(nm, ":"), maxstr + 1L, side = "right"),
          format(mean(df[[nm]]), digits = digits, nsmall = digits),
          sep = " "
        ),
        "\n"
      )
    }
  }
}

show_mean(iris)
#> Sepal.Length: 5.84 
#> Sepal.Width:  3.06 
#> Petal.Length: 3.76 
#> Petal.Width:  1.20
```

In [ ]:
show_mean <- function(df, digits = 2) {
    
  # Get max length of all variable names in the dataset
  maxstr <- max(str_length(names(df)))
    
  for (nm in names(df)) {
    if (is.numeric(df[[nm]])) {
      cat(
        str_c(str_pad(str_c(nm, ":"), maxstr + 1L, side = "right"),
          format(mean(df[[nm]]), digits = digits, nsmall = digits),
          sep = " "
        ),
        "\n"
      )
    }
  }
}

show_mean(iris)

In [ ]:
df <- iris
cat('\n',"max(str_length(names(df)))", str_dup("-",34), '\n')
max(str_length(names(df)))
cat('\n',"names(df)", str_dup("-",51), '\n')
names(df)
cat('\n',"max(length(names(df)))", str_dup("-",38), '\n')
max(length(names(df)))

In [ ]:
typeof(df['Sepal.Length'])

##### Exercise 21.3.4[__](https://jrnold.github.io/r4ds-exercise-solutions/iteration.html#exercise-21.3.4)

What does this code do?
How does it work?



```R
trans <- list(
  disp = function(x) x * 0.0163871,
  am = function(x) {
    factor(x, labels = c("auto", "manual"))
  }
)

for (var in names(trans)) {
  mtcars[[var]] <- trans[[var]](mtcars[[var]])
}
```

In [ ]:
mtcars %>% head

In [ ]:
trans <- list( 
  disp = function(x) x * 0.0163871, 
  am = function(x) { 
    factor(x, labels = c("auto", "manual")) 
  } 
) 

for (var in names(trans)) { 
  mtcars[[var]] <- trans[[var]](mtcars[[var]]) 
} 
mtcars %>% head() 
# rm(mtcars)

In [ ]:
mtcars
trans[["disp"]](mtcars[["disp"]])

In [ ]:
trans[["disp"]]

This code mutates the `disp` and `am` columns:

* `disp` is multiplied by 0.0163871
* `am` is replaced by a factor variable.

The code works by looping over a named list of functions.
It calls the named function in the list on the column of `mtcars` with the same name, and replaces the values of that column.

<font color = 'green'><b>This is a <span style='background-color: lightgreen'>function</span>.</b></font>

```R
trans[["disp"]]
```

This applies the function to the column of `mtcars` with the same name



```R
trans[["disp"]](mtcars[["disp"]])
```

## For loops vs. functionals

For loops are not as important in R as they are in other languages because R is a functional programming language. This means that it’s possible to wrap up for loops in a function, and call that function instead of using the for loop directly.

To see why this is important, consider (again) this simple data frame:





```R
df <- tibble(
  a = rnorm(10),
  b = rnorm(10),
  c = rnorm(10),
  d = rnorm(10)
)
```

Imagine you want to compute the mean of every column. You could do that with a for loop:





```R
output <- vector("double", length(df))
for (i in seq_along(df)) {
  output[[i]] <- mean(df[[i]])
}
output
#> [1] -0.326  0.136  0.429 -0.250
```

You realise that you’re going to want to compute the means of every column pretty frequently, so you extract it out into a function:





```R
col_mean <- function(df) {
  output <- vector("double", length(df))
  for (i in seq_along(df)) {
    output[i] <- mean(df[[i]])
  }
  output
}
```

But then you think it’d also be helpful to be able to compute the median, and the standard deviation, so you copy and paste your `col_mean()` function and replace the `mean()` with `median()` and `sd()`:





```R
col_median <- function(df) {
  output <- vector("double", length(df))
  for (i in seq_along(df)) {
    output[i] <- median(df[[i]])
  }
  output
}

col_sd <- function(df) {
  output <- vector("double", length(df))
  for (i in seq_along(df)) {
    output[i] <- sd(df[[i]])
  }
  output
}
```

Uh oh! You’ve copied-and-pasted this code twice, so it’s time to think about how to generalise it. Notice that most of this code is for-loop boilerplate and it’s hard to see the one thing (`mean()`, `median()`, `sd()`) that is different between the functions.

What would you do if you saw a set of functions like this:





```R
f1 <- function(x) abs(x - mean(x)) ^ 1
f2 <- function(x) abs(x - mean(x)) ^ 2
f3 <- function(x) abs(x - mean(x)) ^ 3
```

Hopefully, you’d notice that there’s a lot of duplication, and extract it out into an additional argument:





```R
f <- function(x, i) abs(x - mean(x)) ^ i
```

You’ve reduced the chance of bugs (because you now have 1/3 of the original code), and made it easy to generalise to new situations.

We can do exactly the same thing with `col_mean()`, `col_median()` and `col_sd()` by adding an argument that supplies the function to apply to each column:





```R
col_summary <- function(df, fun) {
  out <- vector("double", length(df))
  for (i in seq_along(df)) {
    out[i] <- fun(df[[i]])
  }
  out
}

col_summary(df, median)
#> [1] -0.5185  0.0278  0.1730 -0.6116

col_summary(df, mean)
#> [1] -0.326  0.136  0.429 -0.250
```

<font color = 'blue'>The idea of <b>passing a function to another function</b> is an extremely powerful idea, and it’s one of the behaviours that <b>makes R a functional programming language</b></font>. It might take you a while to wrap your head around the idea, but it’s worth the investment. In the rest of the chapter, you’ll learn about and use the **purrr** package, which provides functions that eliminate the need for many common for loops. The apply family of functions in base R (`apply()`, `lapply()`, `tapply()`, etc) solve a similar problem, but purrr is more consistent and thus is easier to learn.

<font color = 'blue'>The goal of using <b>purrr</b> functions instead of for loops is to <b>allow you to break common list manipulation challenges into independent pieces</b>:</font>

1.  <b><font color = 'purple'>How can you solve the problem for a single element of the list?  </font></b><font color = 'blue'>Once
    you’ve solved that problem, purrr takes care of generalising your
    solution to every element in the list</font>.


2.  If you’re solving a complex problem, how can you break it down into
    bite-sized pieces that allow you to advance one small step towards a
    solution? <font color = 'blue'>With purrr, you get lots of small pieces that you can
    compose together with the pipe</font>.

This structure makes it easier to solve new problems. It also makes it easier to understand your solutions to old problems when you re-read your old code.

### 21.4.1 Exercises

1.  Read the documentation for `apply()`. In the 2d case, what two for loops
    does it generalise?
    

2.  Adapt `col_summary()` so that it only applies to numeric columns
    You might want to start with an `is_numeric()` function that returns
    a logical vector that has a TRUE corresponding to each numeric column.

##### Exercise 21.4.1[__](https://jrnold.github.io/r4ds-exercise-solutions/iteration.html#exercise-21.4.1)

For an object with two-dimensions, such as a matrix or data frame, `apply()` replaces looping over the rows or columns of a matrix or data-frame.
The `apply()` function is used like `apply(X, MARGIN, FUN, ...)`, where `X` is a matrix or array, `FUN` is a function to apply, and `...` are additional arguments passed to `FUN`.

<font color = 'green'><b>When `MARGIN = 1`, then the function is applied to each row.</b></font>
<b><font color = 'purple'>For example, the following example calculates the row means of a matrix. </font></b>
```R
X <- matrix(rnorm(15), nrow = 5)
X
#>         [,1]   [,2]   [,3]
#> [1,] -1.4523  0.124  0.709
#> [2,]  0.9412 -0.998 -1.529
#> [3,] -0.3389  1.233  0.237
#> [4,] -0.0756  0.340 -1.313
#> [5,]  0.0402 -0.473  0.747
```

```R
apply(X, 1, mean)
#> [1] -0.206 -0.529  0.377 -0.349  0.105
```

That is equivalent to this for-loop.

```R
X_row_means <- vector("numeric", length = nrow(X))

for (i in seq_len(nrow(X))) {
  X_row_means[[i]] <- mean(X[i, ])
}

X_row_means
#> [1] -0.206 -0.529  0.377 -0.349  0.105
```

In [ ]:
X <- matrix(rnorm(15), nrow = 5)
X
seq_len(nrow(X))

```R
X <- matrix(rnorm(15), nrow = 5)
X
#>         [,1]   [,2]     [,3]
#> [1,] -1.5625  1.153  1.20377
#> [2,]  0.0711 -1.687 -1.43127
#> [3,] -0.6395 -0.903  1.38291
#> [4,] -0.8452  1.318  0.00313
#> [5,]  0.6752  1.100 -0.07789
```

<font color = 'green'><b>When `MARGIN = 2`, `apply()` is equivalent to a for-loop looping over columns.</b></font>

```R
apply(X, 2, mean)
#> [1] -0.460  0.196  0.216
```

```R
X_col_means <- vector("numeric", length = ncol(X))

for (i in seq_len(ncol(X))) {
  X_col_means[[i]] <- mean(X[, i])
}

X_col_means
#> [1] -0.460  0.196  0.216
```

### Exercise 21.4.2[__](https://jrnold.github.io/r4ds-exercise-solutions/iteration.html#exercise-21.4.2)

Adapt `col_summary()` so that it only applies to numeric columns.
You might want to start with an `is_numeric()` function that returns a logical vector that has a `TRUE` corresponding to each numeric column.

The original `col_summary()` function is

```R
col_summary <- function(df, fun) {
  out <- vector("double", length(df))
  for (i in seq_along(df)) {
    out[i] <- fun(df[[i]])
  }
  out
}
```

The adapted version adds extra logic to only apply the function to numeric columns.

```R
col_summary2 <- function(df, fun) {
    
  # create an empty vector which will store whether each
  # column is numeric
  numeric_cols <- vector("logical", length(df))
    
  # test whether each column is numeric
  for (i in seq_along(df)) {
    numeric_cols[[i]] <- is.numeric(df[[i]])
  }
    
  # find the indexes of the numeric columns
  idxs <- which(numeric_cols)
  
  # find the number of numeric columns
  n <- sum(numeric_cols)
  
  # create a vector to hold the results
  out <- vector("double", n)
  
  # apply the function only to numeric vectors
  for (i in seq_along(idxs)) {
    out[[i]] <- fun(df[[idxs[[i]]]])
  }
  
  # name the vector
  names(out) <- names(df)[idxs]
  
  out
}
```

Let’s test that `col_summary2()` works by creating a small data frame with
some numeric and non-numeric columns.

```R
df <- tibble(
  X1 = c(1, 2, 3),
  X2 = c("A", "B", "C"),
  X3 = c(0, -1, 5),
  X4 = c(TRUE, FALSE, TRUE)
)

col_summary2(df, mean)
#>   X1   X3 
#> 2.00 1.33
```

As expected, it only calculates the mean of the numeric columns, `X1` and `X3`.
Let’s test that it works with another function.

```R
col_summary2(df, median)
#> X1 X3 
#>  2  0
```

## 21.5 The map functions

The pattern of looping over a vector, doing something to each element and saving the results is so common that the purrr package provides a family of functions to do it for you. There is one function for each type of output:

* `map()` makes a list.
* `map_lgl()` makes a logical vector.
* `map_int()` makes an integer vector.
* `map_dbl()` makes a double vector.
* `map_chr()` makes a character vector.

Each function takes a vector as input, applies a function to each piece, and then returns a new vector that’s the same length (and has the same names) as the input. The type of the vector is determined by the suffix to the map function.

<b><font color = 'purple'>Once you master these functions, you’ll find it takes much less time to solve iteration problems.  </font></b><font color = 'blue'>But you should never feel bad about using a for loop instead of a map function. The<b> map functions are a step up a tower of abstraction</b>, and it can take a long time to get your head around how they work</font>. The important thing is that you solve the problem that you’re working on, not write the most concise and elegant code (although that’s definitely something you want to strive towards!).

Some people will tell you to avoid for loops because they are slow. They’re wrong! (Well at least they’re rather out of date, as for loops haven’t been slow for many years.) <font color = 'blue'>The chief benefits of using functions like `map()` is not speed, but clarity</font>: they make your code easier to write and to read.

We can use these functions to perform the same computations as the last for loop. Those summary functions returned doubles, so we need to use `map_dbl()`:

```R
map_dbl(df, mean)
#>      a      b      c      d 
#> -0.326  0.136  0.429 -0.250

map_dbl(df, median)
#>       a       b       c       d 
#> -0.5185  0.0278  0.1730 -0.6116

map_dbl(df, sd)
#>     a     b     c     d 
#> 0.921 0.485 0.982 1.156
```

Compared to using a for loop, focus is on the operation being performed (i.e. `mean()`, `median()`, `sd()`), not the bookkeeping required to loop over every element and store the output. This is even more apparent if we use the pipe:

```R
df %>% map_dbl(mean)
#>      a      b      c      d 
#> -0.326  0.136  0.429 -0.250

df %>% map_dbl(median)
#>       a       b       c       d 
#> -0.5185  0.0278  0.1730 -0.6116

df %>% map_dbl(sd)
#>     a     b     c     d 
#> 0.921 0.485 0.982 1.156
```

There are a few differences between `map_*()` and `col_summary()`:

* All purrr functions are implemented in C. This makes them a little faster
    at the expense of readability.


* <font color = 'green'>The second argument, `.f`, the function to apply, can be a formula, a
    character vector, or an integer vector</font>. You’ll learn about those handy
    shortcuts in the next section.


* <font color = 'green'><b>`map_*()` uses … ([dot dot dot]) to pass along additional arguments
    to `.f` each time it’s called</b></font>:



```R
map_dbl(df, mean, trim = 0.5)
#>       a       b       c       d 
#> -0.5185  0.0278  0.1730 -0.6116
```

* The map functions also preserve names:





```R
z <- list(x = 1:3, y = 4:5)

map_int(z, length)
#> x y 
#> 3 2
```

### 21.5.1 Shortcuts

<font color = 'purple'>There are a few shortcuts that you can use with `.f` in order to save a little typing. Imagine you want to fit a linear model to each group in a dataset. 
    
<b>The following toy example splits up the `mtcars` dataset into three pieces (one for each value of cylinder) and fits the same linear model to each piece: </b></font>

```R
models <- mtcars %>% 
  split(.$cyl) %>% 
  map(function(df) lm(mpg ~ wt, data = df))
```

In [ ]:
# code output
models <- mtcars %>% 
  split(.$cyl) %>% 
  map(function(df) lm(mpg ~ wt, data = df))
      
models

<b><font color = 'purple'>The syntax for creating an anonymous function in R is quite verbose so purrr provides a convenient shortcut: <span style='background-color: lightgreen'>a one-sided formula</span>. </font></b>

```R
models <- mtcars %>% 
  split(.$cyl) %>% 
  map(~lm(mpg ~ wt, data = .))
```

In [ ]:
# code output
models <- mtcars %>% 
  split(.$cyl) %>% 
  map(~lm(mpg ~ wt, data = .))
      
models

<font color = 'green'><b>Here I’ve used `.` as a pronoun: it refers to the current list element (in the same way that `i` referred to the current index in the for loop).</b></font>

When you’re looking at many models, you might want to extract a summary statistic like the $R^2$. To do that we need to first run `summary()` and then extract the component called `r.squared`. We could do that using the shorthand for anonymous functions:

```R
models %>% 
  map(summary) %>% 
  map_dbl(~.$r.squared)
  
#>     4     6     8 
#> 0.509 0.465 0.423
```

In [ ]:
models %>% 
  map(summary) %>%
  map_dbl(~.$r.squared) %>%
  round(2)

<b><font color = 'purple'>But extracting named components is a common operation, so purrr provides an even shorter shortcut </font></b>: you can use a string.


```R
models %>% 
  map(summary) %>% 
  map_dbl("r.squared")

#>     4     6     8 
#> 0.509 0.465 0.423
```
You can also use an integer to select elements by position:

```R
x <- list(list(1, 2, 3), list(4, 5, 6), list(7, 8, 9))
x %>% map_dbl(2)
#> [1] 2 5 8
```

In [ ]:
x <- list(list(1, 2, 3), list(4, 5, 6), list(7, 8, 9)); x

cat('\n',"x %>% map_dbl(2)", str_dup("-",44), '\n')
x %>% map_dbl(2)
#> [1] 2 5 8

### 21.5.2 Base R

If you’re familiar with the apply family of functions in base R, you might have noticed some similarities with the purrr functions:

* `lapply()` is basically identical to `map()`, except that `map()` is
    consistent with all the other functions in purrr, and you can use the
    shortcuts for `.f`.

* Base `sapply()` is a wrapper around `lapply()` that automatically
    simplifies the output. This is useful for interactive work but is
    problematic in a function because you never know what sort of output
    you’ll get:

```R
x1 <- list(
  c(0.27, 0.37, 0.57, 0.91, 0.20),
  c(0.90, 0.94, 0.66, 0.63, 0.06), 
  c(0.21, 0.18, 0.69, 0.38, 0.77)
)

x2 <- list(
  c(0.50, 0.72, 0.99, 0.38, 0.78), 
  c(0.93, 0.21, 0.65, 0.13, 0.27), 
  c(0.39, 0.01, 0.38, 0.87, 0.34)
)


threshold <- function(x, cutoff = 0.8) x[x > cutoff]

x1 %>% sapply(threshold) %>% str()
#> List of 3
#>  $ : num 0.91
#>  $ : num [1:2] 0.9 0.94
#>  $ : num(0)

x2 %>% sapply(threshold) %>% str()
#>  num [1:3] 0.99 0.93 0.87
```

In [ ]:
x1 <- list(
  c(0.27, 0.37, 0.57, 0.91, 0.20),
  c(0.90, 0.94, 0.66, 0.63, 0.06), 
  c(0.21, 0.18, 0.69, 0.38, 0.77)
)

x2 <- list(
  c(0.50, 0.72, 0.99, 0.38, 0.78), 
  c(0.93, 0.21, 0.65, 0.13, 0.27), 
  c(0.39, 0.01, 0.38, 0.87, 0.34)
)
x1 ;x2

In [ ]:
threshold <- function(x, cutoff = 0.8) x[x > cutoff]

x1 %>% sapply(threshold) %>% str()
#> List of 3
#>  $ : num 0.91
#>  $ : num [1:2] 0.9 0.94
#>  $ : num(0)

x2 %>% sapply(threshold) %>% str()
#>  num [1:3] 0.99 0.93 0.87

* <font color = 'green'><b>`vapply()` is a safe alternative to `sapply()` because you supply an
    additional argument that defines the type.</b></font> 
    
    The only problem with
    `vapply()` is that it’s a lot of typing:
    `vapply(df, is.numeric, logical(1))` is equivalent to
    `map_lgl(df, is.numeric)`. 
    
    One advantage of `vapply()` over purrr’s map
    functions is that it can also produce matrices — the map functions only
    ever produce vectors.

I focus on purrr functions here because they have more consistent names and arguments, helpful shortcuts, and in the future will provide easy parallelism and progress bars.

### 21.5.3 Exercises

1.  Write code that uses one of the map functions to:
    1.  Compute the mean of every column in `mtcars`.
    2.  Determine the type of each column in `nycflights13::flights`.
    3.  Compute the number of unique values in each column of `iris`.
    4.  Generate 10 random normals from distributions with means of -10, 0, 10, and 100.

2.  How can you create a single vector that for each column in a data frame
    indicates whether or not it’s a factor?

3.  What happens when you use the map functions on vectors that aren’t lists?
    What does `map(1:5, runif)` do? Why?

4.  What does `map(-2:2, rnorm, n = 5)` do? Why?
    What does `map_dbl(-2:2, rnorm, n = 5)` do? Why?

5.  Rewrite `map(x, function(df) lm(mpg ~ wt, data = df))` to eliminate the
    anonymous function.

##### Exercise 21.5.1[__](https://jrnold.github.io/r4ds-exercise-solutions/iteration.html#exercise-21.5.1)

Write code that uses one of the map functions to:

1.  Compute the mean of every column in `mtcars`.
2.  Determine the type of each column in `nycflights13::flights`.
3.  Compute the number of unique values in each column of `iris`.
4.  Generate 10 random normals from distributions with means of -10, 0, 10, and 100..

<b><font color = 'MAROON'>1.  To calculate the mean of every column in `mtcars`, apply the function
    `mean()` to each column, and use `map_dbl`, since the results are numeric.</font></b>

    

    

    

    

```R
map_dbl(mtcars, mean)
#>     mpg     cyl    disp      hp    drat      wt    qsec      vs      am 
#>  20.091   6.188 230.722 146.688   3.597   3.217  17.849   0.438   0.406 
#>    gear    carb 
#>   3.688   2.812
```

In [ ]:
# code output
mtcars %>% map_dbl(mean) %>% round(3) %>% t()

<b><font color = 'MAROON'>2.  To calculate the type of every column in `nycflights13::flights` apply
    the function `typeof()`, discussed in the section on [Vector basics](https://r4ds.had.co.nz/vectors.html#vector-basics),
    and use `map_chr()`, since the results are character.</font></b>

    

    

    

    ```R
    map_chr(nycflights13::flights, typeof)
    #>           year          month            day       dep_time sched_dep_time 
    #>      "integer"      "integer"      "integer"      "integer"      "integer" 
    #>      dep_delay       arr_time sched_arr_time      arr_delay        carrier 
    #>       "double"      "integer"      "integer"       "double"    "character" 
    #>         flight        tailnum         origin           dest       air_time 
    #>      "integer"    "character"    "character"    "character"       "double" 
    #>       distance           hour         minute      time_hour 
    #>       "double"       "double"       "double"       "double"
    ```

In [ ]:
flights <- nycflights13::flights

flights %>% map_chr(typeof) %>% t %>% t

<b><font color = 'MAROON'>3.  There is no function that directly calculates the number of unique values
    in a vector. For a single column, the number of unique values of a vector
    can be calculated </font></b>
    <hypothesis-highlight class="hypothesis-highlight">like so,</hypothesis-highlight>

    

    

    

    

```R
length(unique(iris$Species))
#> [1] 3
```

In [ ]:
iris %>% map_int(n_distinct)

    To apply this to all columns, we can provide the map an anonymous function.
    We can write anonymous function using the standard R syntax.




```R
map_int(iris, function(x) length(unique(x)))
#> Sepal.Length  Sepal.Width Petal.Length  Petal.Width      Species 
#>           35           23           43           22            3
```

We could also use the compact, one-sided formula shortcut that purrr provides.


```R
map_int(iris, ~ length(unique(.)))
#> Sepal.Length  Sepal.Width Petal.Length  Petal.Width      Species 
#>           35           23           43           22            3
```

In these examples, the `map_int()` function is used since `length()` returns an integer.
However, the `map_dbl()` function will also work.


```R
map_dbl(iris, ~ length(unique(.)))
```

<b><font color = 'MAROON'>4.  Generate 10 random normals from distributions with means of -10, 0, 10, and 100..</font></b>

In [ ]:
D <- c(-10, 0, 10, 100)

map(D, ~ rnorm(n=10, mean = .))
# map(D, ~rnorm(n=10, mean = .))





```R
map(c(-10, 0, 10, 100), ~ rnorm(n = 10, mean = .))
#> [[1]]
#>  [1]  -9.56  -9.87 -10.83 -10.50 -11.19 -10.75  -8.54 -10.83  -9.71 -10.48
#> 
#> [[2]]
#>  [1] -0.6048  1.4601  0.1497 -1.4333 -0.0103 -0.2122 -0.9063 -2.1022
#>  [9]  1.8934 -0.9681
#> 
#> [[3]]
#>  [1]  9.90 10.24 10.06  7.82  9.88 10.11 10.01 11.88 12.16 10.71
#> 
#> [[4]]
#>  [1] 100.8  99.7 101.0  99.1 100.6 100.3 100.4 101.1  99.1 100.2
```

Since a single call of `rnorm()` returns a numeric vector with a length greater
than one we cannot use `map_dbl`, which requires the function to return a numeric
vector that is only length one (see [Exercise 21.5.4](https://jrnold.github.io/r4ds-exercise-solutions/iteration.html#exercise-21.5.4)).
The map functions pass any additional arguments to the function being called.

##### Exercise 21.5.2[__](https://jrnold.github.io/r4ds-exercise-solutions/iteration.html#exercise-21.5.2)

How can you create a single vector that for each column in a data frame indicates whether or not it’s a factor?

In [ ]:
iris %>% map_chr(is.factor)
iris %>% map_dfr(is.factor)

The function `is.factor()` indicates whether a vector is a factor.

```R
is.factor(diamonds$color)
#> [1] TRUE
```

To check all columns in a 
<hypothesis-highlight class="hypothesis-highlight">factor </hypothesis-highlight>for whether it is a factor is a job for a `map_*()` function.
Since the result of `is.factor()` is logical, we will use `map_lgl()` to apply `is.factor()` to the columns of the data frame.

```R
map_lgl(diamonds, is.factor)
#>   carat     cut   color clarity   depth   table   price       x       y 
#>   FALSE    TRUE    TRUE    TRUE   FALSE   FALSE   FALSE   FALSE   FALSE 
#>       z 
#>   FALSE
```

##### Exercise 21.5.3[__](https://jrnold.github.io/r4ds-exercise-solutions/iteration.html#exercise-21.5.3)

What happens when you use the map functions on vectors that aren’t lists?
What does `map(1:5, runif)` do?
Why?

In [ ]:
map(1:5, runif)

In [ ]:
runif(1)
runif(2)
runif(3)
runif(4)
runif(5)

<font color = 'blue'><b>Map functions work with any vectors, not just lists.</b></font>
As with lists, the map functions will apply the function to each element of the vector.
In the following examples, the inputs to `map()` are atomic vectors (logical, character, integer, double).

```R
map(c(TRUE, FALSE, TRUE), ~ !.)
#> [[1]]
#> [1] FALSE
#> 
#> [[2]]
#> [1] TRUE
#> 
#> [[3]]
#> [1] FALSE

map(c("Hello", "World"), str_to_upper)
#> [[1]]
#> [1] "HELLO"
#> 
#> [[2]]
#> [1] "WORLD"

map(1:5, ~ rnorm(.))
#> [[1]]
#> [1] 1.42
#> 
#> [[2]]
#> [1] -0.384 -0.174
#> 
#> [[3]]
#> [1] -0.222 -1.010  0.481
#> 
#> [[4]]
#> [1]  1.604 -1.515 -1.416  0.877
#> 
#> [[5]]
#> [1]  0.624  2.112 -0.356 -1.064  1.077

map(c(-0.5, 0, 1), ~ rnorm(1, mean = .))
#> [[1]]
#> [1] 0.682
#> 
#> [[2]]
#> [1] 0.198
#> 
#> [[3]]
#> [1] 0.6
```

<font color = 'red'>It is important to be aware that while the input of `map()` can be any vector, the output is always a list.</font>

```R
map(1:5, runif)
#> [[1]]
#> [1] 0.731
#> 
#> [[2]]
#> [1] 0.852 0.976
#> 
#> [[3]]
#> [1] 0.113 0.970 0.648
#> 
#> [[4]]
#> [1] 0.0561 0.4731 0.2946 0.6103
#> 
#> [[5]]
#> [1] 0.1211 0.6294 0.7120 0.6121 0.0344
```

This expression is equivalent to running the following.

```R
list(
  runif(1),
  runif(2),
  runif(3),
  runif(4),
  runif(5)
)
#> [[1]]
#> [1] 0.666
#> 
#> [[2]]
#> [1] 0.653 0.452
#> 
#> [[3]]
#> [1] 0.517 0.677 0.881
#> 
#> [[4]]
#> [1] 0.731 0.399 0.431 0.145
#> 
#> [[5]]
#> [1] 0.4511 0.5788 0.0704 0.7423 0.5492
```

The `map()` function loops through the numbers 1 to 5.
For each value, it calls the `runif()` with that number as the first argument, which is the number of sample to draw.
The result is a length five list with numeric vectors of sizes one through five, each with random samples from a uniform distribution.
Note that although input to `map()` was an integer vector, the return value was a list.

##### Exercise 21.5.4[__](https://jrnold.github.io/r4ds-exercise-solutions/iteration.html#exercise-21.5.4)

What does `map(-2:2, rnorm, n = 5)` do?
Why?

What does `map_dbl(-2:2, rnorm, n = 5)` do?
Why?

In [ ]:
set.seed(501)
map(-2:2, rnorm, n = 5)[[1]][1] %>% typeof()

In [ ]:
set.seed(501)
map(-2:2, ~rnorm(n = 5, mean = .))

In [ ]:
set.seed(501)
map(-2:2, rnorm, n = 5)

In [ ]:
map_dbl(-2:2, rnorm(n = 5, mean = .)

###### Consider the first expression.

```R
map(-2:2, rnorm, n = 5)
#> [[1]]
#> [1] -1.656 -0.522 -1.928  0.126 -3.476
#> 
#> [[2]]
#> [1] -0.5921  0.3940 -0.6397 -0.3454  0.0522
#> 
#> [[3]]
#> [1] -1.980  1.208 -0.169  0.295  1.266
#> 
#> [[4]]
#> [1] -0.135 -0.131  1.110  1.853  0.766
#> 
#> [[5]]
#> [1] 4.087 1.889 0.607 0.858 3.705
```

This expression takes samples of size five from five normal distributions, with means of (-2, -1, 0, 1, and 2), but the same standard deviation (1).
It returns a list with each element a numeric vectors of length 5.

However, if instead, we use `map_dbl()`, the expression raises an error.

```R
map_dbl(-2:2, rnorm, n = 5)
#> Result 1 must be a single double, not a double vector of length 5
```

In [ ]:
map_dbl(-2:2, rnorm, n = 5)

<font color = 'blue'>This is because the `map_dbl()` function requires the function it applies to each element to return a numeric vector of length one.


* If the function returns either a non-numeric vector or a numeric vector with a length greater than one, `map_dbl()` will raise an error.

    
* <b>The reason for this strictness is that `map_dbl()` guarantees that it will return a numeric vector of the _same length_ as its input vector</b>.

    
* This concept applies to the other `map_*()` functions. 
    
    The function `map_chr()` requires that the function always return a _character_ vector of length one;
    
    `map_int()` requires that the function always return an _integer_ vector of length one;

    map_lgl(</hypothesis-highlight>)` requires that the function always return an _logical_ vector of length one.
Use the `map()` function if the function will return values of varying types or lengths.

To return a double vector, 
<hypothesis-highlight class="hypothesis-highlight">we could use </hypothesis-highlight>map()
<hypothesis-highlight class="hypothesis-highlight"> followed by </hypothesis-highlight>flatten_dbl()
<hypothesis-highlight class="hypothesis-highlight">,</hypothesis-highlight>

</font>

```R
flatten_dbl(map(-2:2, rnorm, n = 5))
#>  [1] -2.145 -1.474 -0.266 -0.551 -0.482 -1.384  0.827 -1.551 -1.866 -1.344
#> [11]  1.063  0.813  1.803 -0.105  0.982 -0.713  0.168  2.100  0.826  1.179
#> [21]  1.302  1.040  1.025  1.661  3.152
```

In [ ]:
flatten_dbl(map(-2:2, rnorm, n = 5)) %>% str()

In [ ]:
map(-2:2, rnorm, n = 5) %>% str()

### Exercise 21.5.5[__](https://jrnold.github.io/r4ds-exercise-solutions/iteration.html#exercise-21.5.5)

Rewrite `map(x, function(df) lm(mpg ~ wt, data = df))` to eliminate the anonymous function.

This code in this question does not run, so I will use the following code.

In [ ]:
x <- split(mtcars, mtcars$cyl)
map(x, function(df) lm(mpg ~ wt, data = df))

In [ ]:
map(x, ~lm(mpg ~ wt, data = .))

```R
x <- split(mtcars, mtcars$cyl)
map(x, function(df) lm(mpg ~ wt, data = df))
#> $`4`
#> 
#> Call:
#> lm(formula = mpg ~ wt, data = df)
#> 
#> Coefficients:
#> (Intercept)           wt  
#>       39.57        -5.65  
#> 
#> 
#> $`6`
#> 
#> Call:
#> lm(formula = mpg ~ wt, data = df)
#> 
#> Coefficients:
#> (Intercept)           wt  
#>       28.41        -2.78  
#> 
#> 
#> $`8`
#> 
#> Call:
#> lm(formula = mpg ~ wt, data = df)
#> 
#> Coefficients:
#> (Intercept)           wt  
#>       23.87        -2.19
```

We can eliminate the use of an anonymous function using the `~` shortcut.

```R
map(x, ~ lm(mpg ~ wt, data = .))
#> $`4`
#> 
#> Call:
#> lm(formula = mpg ~ wt, data = .)
#> 
#> Coefficients:
#> (Intercept)           wt  
#>       39.57        -5.65  
#> 
#> 
#> $`6`
#> 
#> Call:
#> lm(formula = mpg ~ wt, data = .)
#> 
#> Coefficients:
#> (Intercept)           wt  
#>       28.41        -2.78  
#> 
#> 
#> $`8`
#> 
#> Call:
#> lm(formula = mpg ~ wt, data = .)
#> 
#> Coefficients:
#> (Intercept)           wt  
#>       23.87        -2.19
```

Though not the intent of this question, the other way to eliminate anonymous function is to create a named one.

```R
run_reg <- function(df) {
  lm(mpg ~ wt, data = df)
}
map(x, run_reg)
#> $`4`
#> 
#> Call:
#> lm(formula = mpg ~ wt, data = df)
#> 
#> Coefficients:
#> (Intercept)           wt  
#>       39.57        -5.65  
#> 
#> 
#> $`6`
#> 
#> Call:
#> lm(formula = mpg ~ wt, data = df)
#> 
#> Coefficients:
#> (Intercept)           wt  
#>       28.41        -2.78  
#> 
#> 
#> $`8`
#> 
#> Call:
#> lm(formula = mpg ~ wt, data = df)
#> 
#> Coefficients:
#> (Intercept)           wt  
#>       23.87        -2.19
```

## 21.6 Dealing with failure

When you use the map functions to repeat many operations, the chances are much higher that one of those operations will fail. When this happens, you’ll get an error message, and no output. This is annoying: why does one failure prevent you from accessing all the other successes? How do you ensure that one bad apple doesn’t ruin the whole barrel?

In this section you’ll learn how to deal with this situation with a new function: `safely()`. `safely()` is an adverb: it takes a function (a verb) and returns a modified version. In this case, the modified function will never throw an error. Instead, it always returns a list with two elements:

1.  `result` is the original result. If there was an error, this will be `NULL`.

2.  `error` is an error object. If the operation was successful, this will be
    `NULL`.

(You might be familiar with the `try()` function in base R. It’s similar, but because it sometimes returns the original result and it sometimes returns an error object it’s more difficult to work with.)

Let’s illustrate this with a simple example: `log()`:

```R
safe_log <- safely(log)

str(safe_log(10))
#> List of 2
#>  $ result: num 2.3
#>  $ error : NULL

str(safe_log("a"))
#> List of 2
#>  $ result: NULL
#>  $ error :List of 2
#>   ..$ message: chr "non-numeric argument to mathematical function"
#>   ..$ call   : language .Primitive("log")(x, base)
#>   ..- attr(*, "class")= chr [1:3] "simpleError" "error" "condition"
```

When the function succeeds, the `result` element contains the result and the `error` element is `NULL`. When the function fails, the `result` element is `NULL` and the `error` element contains an error object.

`safely()` is designed to work with map:

```R

x <- list(1, 10, "a")

y <- x %>% map(safely(log))

str(y)
#> List of 3
#>  $ :List of 2
#>   ..$ result: num 0
#>   ..$ error : NULL
#>  $ :List of 2
#>   ..$ result: num 2.3
#>   ..$ error : NULL
#>  $ :List of 2
#>   ..$ result: NULL
#>   ..$ error :List of 2
#>   .. ..$ message: chr "non-numeric argument to mathematical function"
#>   .. ..$ call   : language .Primitive("log")(x, base)
#>   .. ..- attr(*, "class")= chr [1:3] "simpleError" "error" "condition"
```

This would be easier to work with if we had two lists: one of all the errors and one of all the output. That’s easy to get with `purrr::transpose()`:

```R
y <- y %>% transpose()

str(y)
#> List of 2
#>  $ result:List of 3
#>   ..$ : num 0
#>   ..$ : num 2.3
#>   ..$ : NULL
#>  $ error :List of 3
#>   ..$ : NULL
#>   ..$ : NULL
#>   ..$ :List of 2
#>   .. ..$ message: chr "non-numeric argument to mathematical function"
#>   .. ..$ call   : language .Primitive("log")(x, base)
#>   .. ..- attr(*, "class")= chr [1:3] "simpleError" "error" "condition"
```

It’s up to you how to deal with the errors, but typically you’ll either look at the values of `x` where `y` is an error, or work with the values of `y` that are ok:

```R
is_ok <- y$error %>% map_lgl(is_null)

x[!is_ok]
#> [[1]]
#> [1] "a"

y$result[is_ok] %>% flatten_dbl()
#> [1] 0.0 2.3
```

Purrr provides two other useful adverbs:

* Like `safely()`, `possibly()` always succeeds. It’s simpler than `safely()`,
    because you give it a default value to return when there is an error.



```R
x <- list(1, 10, "a")
x %>% map_dbl(possibly(log, NA_real_))
#> [1] 0.0 2.3  NA
```

* `quietly()` performs a similar role to `safely()`, but instead of capturing
    errors, it captures printed output, messages, and warnings:

    

    

```R
x <- list(1, -1)
x %>% map(quietly(log)) %>% str()
#> List of 2
#>  $ :List of 4
#>   ..$ result  : num 0
#>   ..$ output  : chr ""
#>   ..$ warnings: chr(0) 
#>   ..$ messages: chr(0) 
#>  $ :List of 4
#>   ..$ result  : num NaN
#>   ..$ output  : chr ""
#>   ..$ warnings: chr "NaNs produced"
#>   ..$ messages: chr(0)
```

## 21.7 Mapping over multiple arguments

So far we’ve mapped along a single input. But often you have multiple related inputs that you need iterate along in parallel. That’s the job of the `map2()` and `pmap()` functions. For example, imagine you want to simulate some random normals with different means. You know how to do that with `map()`:

```R
mu <- list(5, 10, -3)

mu %>% 
  map(rnorm, n = 5) %>% 
  str()

#> List of 3
#>  $ : num [1:5] 5.63 7.1 4.39 3.37 4.99
#>  $ : num [1:5] 9.34 9.33 9.52 11.32 10.64
#>  $ : num [1:5] -2.49 -4.75 -2.11 -2.78 -2.42
```

What if you also want to vary the standard deviation? One way to do that would be to iterate over the indices and index into vectors of means and sds:

```R
sigma <- list(1, 5, 10)

seq_along(mu) %>% 
  map(~rnorm(5, mu[[.]], sigma[[.]])) %>% 
  str()

#> List of 3
#>  $ : num [1:5] 4.82 5.74 4 2.06 5.72
#>  $ : num [1:5] 6.51 0.529 10.381 14.377 12.269
#>  $ : num [1:5] -11.51 2.66 8.52 -10.56 -7.89
```

But that obfuscates the intent of the code. Instead we could use `map2()` which iterates over two vectors in parallel:

```R
map2(mu, sigma, rnorm, n = 5) %>% str()
#> List of 3
#>  $ : num [1:5] 3.83 4.52 5.12 3.23 3.59
#>  $ : num [1:5] 13.55 3.8 8.16 12.31 8.39
#>  $ : num [1:5] -15.872 -13.3 12.141 0.469 14.794
```

`map2()` generates this series of function calls:

In [ ]:
mu <- list(5, 10, -3)
sigma <- list(1, 5, 10)
map2(mu, sigma, rnorm, n = 5) %>% str()

In [ ]:
mu <- list(5, 10, -3)
sigma <- list(1, 5, 10)
map2(mu, sigma, rnorm, n = 5) %>% str()

`map2()` generates this series of function calls:

<img src='pics/lists-map2.png' alt='Drawing' style='width:325pt'/>

<font color = 'red'>Note that the arguments that vary for each call come _before_ the function; arguments that are the same for every call come _after_.</font>

Like `map()`, `map2()` is just a wrapper around a for loop:





```R
map2 <- function(x, y, f, ...) {
  out <- vector("list", length(x))
  for (i in seq_along(x)) {
    out[[i]] <- f(x[[i]], y[[i]], ...)
  }
  out
}
```

You could also imagine `map3()`, `map4()`, `map5()`, `map6()` etc, but that would get tedious quickly. Instead, purrr provides `pmap()` which takes a list of arguments. You might use that if you wanted to vary the mean, standard deviation, and number of samples:





```R
n <- list(1, 3, 5)

args1 <- list(n, mu, sigma)

args1 %>%
  pmap(rnorm) %>% 
  str()

#> List of 3
#>  $ : num 5.39
#>  $ : num [1:3] 5.41 2.08 9.58
#>  $ : num [1:5] -23.85 -2.96 -6.56 8.46 -5.21
```

That looks like:

<img src='pics/lists-pmap-unnamed.png' alt='Drawing' style='width:325pt'/>

If you don’t name the list’s elements, `pmap()` will use positional matching when calling the function. That’s a little fragile, and makes the code harder to read, so it’s better to name the arguments:

In [ ]:
args2 <- list(mean = mu, sd = sigma, n = n)

args2 %>% 
  pmap(rnorm) %>% 
  str()

In [ ]:
list(mean = mu, sd = sigma, n = n) %>% 
  pmap(rnorm) %>% 
  str()

That generates longer, but safer, calls:

<img src='pics/lists-pmap-named.png' alt='Drawing' style='width:425pt'/>

Since the arguments are all the same length, it makes sense to store them in a data frame:


```R
params <- tribble(
  ~mean, ~sd, ~n,
    5,     1,  1,
   10,     5,  3,
   -3,    10,  5
)

params %>% 
  pmap(rnorm)

#> [[1]]
#> [1] 6.02
#> 
#> [[2]]
#> [1]  8.68 18.29  6.13
#> 
#> [[3]]
#> [1] -12.24  -5.76  -8.93  -4.22   8.80
```

As soon as your code gets complicated, I think a data frame is a good approach because it ensures that each column has a name and is the same length as all the other columns.

In [ ]:
params <- tribble(
  ~mean, ~sd, ~n,
    5,     1,  1,
   10,     5,  3,
   -3,    10,  5
)

params

### 21.7.1 Invoking different functions

There’s one more step up in complexity - as well as varying the arguments to the function you might also vary the function itself:





```R
f <- c("runif", "rnorm", "rpois")

param <- list(
  list(min = -1, max = 1), 
  list(sd = 5), 
  list(lambda = 10)
)
```

To handle this case, you can use `invoke_map()`:





```R
invoke_map(f, param, n = 5) %>% str()
#> List of 3
#>  $ : num [1:5] 0.479 0.439 -0.471 0.348 -0.581
#>  $ : num [1:5] 2.48 3.9 7.54 -9.12 3.94
#>  $ : int [1:5] 6 11 5 8 9
```

In [ ]:
(param <- list(
  list(min = -1, max = 1), 
  list(sd = 5), 
  list(lambda = 10)
))

<img src='pics/lists-invoke.png' alt='Drawing' style='width:425pt'/>

The first argument is a list of functions or character vector of function names. The second argument is a list of lists giving the arguments that vary for each function. The subsequent arguments are passed on to every function.

And again, you can use `tribble()` to make creating these matching pairs a little easier:



```R
sim <- tribble(
  ~f,      ~params,
  "runif", list(min = -1, max = 1),
  "rnorm", list(sd = 5),
  "rpois", list(lambda = 10)
)

sim %>% 
  mutate(sim = invoke_map(f, params, n = 10))
```

In [ ]:
sim <- tribble(
  ~f,      ~params,
  "runif", list(min = -1, max = 1),
  "rnorm", list(sd = 5),
  "rpois", list(lambda = 10)
)

sim %>% 
  mutate(sim = invoke_map(f, params, n = 10))

In [ ]:
sim <- tribble(
  ~f,      ~params,
  "runif", list(min = -1, max = 1),
  "rnorm", list(sd = 5),
  "rpois", list(lambda = 10)
)

sim %>%
  mutate(sim = invoke_map(f, params, n = 10))

## 21.8 Walk

<b><font color = 'purple'>Walk is an alternative to map that you use when you want to call a function for its side effects, rather than for its return value </font></b>. 

<font color = 'blue'>You typically do this because you want to render output to the screen or save files to disk</font> - <font color = 'blue'><b>the important thing is the action, not the return value</b></font>. Here’s a very simple example:

```R
x <- list(1, "a", 3)

x %>% 
  walk(print)
#> [1] 1
#> [1] "a"
#> [1] 3
```

In [ ]:
x <- list(1, "a", 3)

x %>% 
  walk(print)
#> [1] 1
#> [1] "a"
#> [1] 3

`walk()` is generally not that useful compared to `walk2()` or `pwalk()`. For example, if you had a list of plots and a vector of file names, you could use `pwalk()` to save each file to the corresponding location on disk:

```R
library(ggplot2)

plots <- mtcars %>% 
  split(.$cyl) %>% 
  map(~ggplot(., aes(mpg, wt)) + geom_point())

paths <- stringr::str_c(names(plots), ".pdf")

pwalk(list(paths, plots), ggsave, path = tempdir())
```

`walk()`, `walk2()` and `pwalk()` all invisibly return `.x`, the first argument. This makes them suitable for use in the middle of pipelines.

## 21.9 Other patterns of for loops

Purrr provides a number of other functions that abstract over other types of for loops. You’ll use them less frequently than the map functions, but they’re useful to know about. The goal here is to briefly illustrate each function, so hopefully it will come to mind if you see a similar problem in the future. Then you can go look up the documentation for more details.

### 21.9.1 Predicate functions

A number of functions work with **predicate** functions that return either a single `TRUE` or `FALSE`.

`keep()` and `discard()` keep elements of the input where the predicate is `TRUE` or `FALSE` respectively:





```R
iris %>% 
  keep(is.factor) %>% 
  str()
#> 'data.frame':    150 obs. of  1 variable:
#>  $ Species: Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

iris %>% 
  discard(is.factor) %>% 
  str()
#> 'data.frame':    150 obs. of  4 variables:
#>  $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
#>  $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
#>  $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
#>  $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
```

`some()` and `every()` determine if the predicate is true for any or for all of
the elements.





```R
x <- list(1:5, letters, list(10))

x %>% 
  some(is_character)
#> [1] TRUE

x %>% 
  every(is_vector)
#> [1] TRUE
```

In [ ]:
(x <- list(1:5, letters, list(10)))

`detect()` finds the first element where the predicate is true; `detect_index()` returns its position.





```R
x <- sample(10)
x
#>  [1] 10  6  1  3  2  4  5  8  9  7

x %>% 
  detect(~ . > 5)
#> [1] 10

x %>% 
  detect_index(~ . > 5)
#> [1] 1
```

`head_while()` and `tail_while()` take elements from the start or end of a vector while a predicate is true:





```R
x %>% 
  head_while(~ . > 5)
#> [1] 10  6

x %>% 
  tail_while(~ . > 5)
#> [1] 8 9 7
```

### 21.9.2 Reduce and accumulate

Sometimes you have a complex list that you want to reduce to a simple list by repeatedly applying a function that reduces a pair to a singleton. This is useful if you want to apply a two-table dplyr verb to multiple tables. For example, you might have a list of data frames, and you want to reduce to a single data frame by joining the elements together:





```R
dfs <- list(
  age = tibble(name = "John", age = 30),
  sex = tibble(name = c("John", "Mary"), sex = c("M", "F")),
  trt = tibble(name = "Mary", treatment = "A")
)

dfs %>% reduce(full_join)
#> Joining, by = "name"Joining, by = "name"
#> # A tibble: 2 x 4
#>   name    age sex   treatment
#>   <chr> <dbl> <chr> <chr>    
#> 1 John     30 M     <NA>     
#> 2 Mary     NA F     A
```

In [ ]:
(dfs <- list(
  age = tibble(name = "John", age = 30),
  sex = tibble(name = c("John", "Mary"), sex = c("M", "F")),
  trt = tibble(name = "Mary", treatment = "A")
))

In [ ]:
dfs %>% reduce(full_join)

In [ ]:
dfs %>% reduce(left_join)

Or maybe you have a list of vectors, and want to find the intersection:





```R
vs <- list(
  c(1, 3, 5, 6, 10),
  c(1, 2, 3, 7, 8, 10),
  c(1, 2, 3, 4, 8, 9, 10)
)

vs %>% reduce(intersect)
#> [1]  1  3 10
```

<font color = 'green'><b>The reduce function takes a “binary” function (i.e. a function with two primary inputs), and applies it repeatedly to a list until there is only a single element left</b></font>.

Accumulate is similar but it keeps all the interim results. You could use it to implement a cumulative sum:

```R
x <- sample(10)
x
#>  [1]  7  5 10  9  8  3  1  4  2  6
x %>% accumulate(`+`)
#>  [1]  7 12 22 31 39 42 43 47 49 55
```

In [ ]:
vs <- list(
  c(1, 3, 5, 6, 10),
  c(1, 2, 3, 7, 8, 10),
  c(1, 2, 3, 4, 8, 9, 10)
)

vs %>% accumulate(intersect)
#> [1]  1  3 10

In [ ]:
x <- sample(10)
x
#>  [1]  7  5 10  9  8  3  1  4  2  6

x %>% accumulate(sum)
#>  [1]  7 12 22 31 39 42 43 47 49 55

### 21.9.3 Exercises

##### Questions

1.  Implement your own version of `every()` using a for loop. Compare it with
    `purrr::every()`. What does purrr’s version do that your version doesn’t?

2.  Create an enhanced `col_summary()` that applies a summary function to every
    numeric column in a data frame.

3.  A possible base R equivalent of `col_summary()` is:



```R
col_sum3 <- function(df, f) {
  is_num <- sapply(df, is.numeric)
  df_num <- df[, is_num]

  sapply(df_num, f)
}
```

But it has a number of bugs as illustrated with the following inputs:

    



```R
df <- tibble(
  x = 1:3, 
  y = 3:1,
  z = c("a", "b", "c")
)
# OK
col_sum3(df, mean)
# Has problems: don't always return numeric vector
col_sum3(df[1:2], mean)
col_sum3(df[1], mean)
col_sum3(df[0], mean)
```

What causes the bugs?

In [ ]:
df <- tibble(
  x = 1:3, 
  y = 3:1,
  z = c("a", "b", "c")
)
df

In [ ]:
col_sum3 <- function(df, f) {
  is_num <- sapply(df, is.numeric)
  df_num <- df[, is_num]

  sapply(df_num, f)
}

In [ ]:
# OK
col_sum3(df, mean)
# Has problems: don't always return numeric vector
col_sum3(df[1:2], mean)
col_sum3(df[1], mean)
col_sum3(df[0], mean)

##### Exercise 21.9.1[__](https://jrnold.github.io/r4ds-exercise-solutions/iteration.html#exercise-21.9.1)

Implement your own version of `every()` using a for loop.
Compare it with `purrr::every()`.
What does purrr’s version do that your version doesn’t?











```R
# Use ... to pass arguments to the function
every2 <- function(.x, .p, ...) {
  for (i in .x) {
    if (!.p(i, ...)) {
      # If any is FALSE we know not all of then were TRUE
      return(FALSE)
    }
  }
  # if nothing was FALSE, then it is TRUE
  TRUE
}

every2(1:3, function(x) {
  x > 1
})
#> [1] FALSE

every2(1:3, function(x) {
  x > 0
})
#> [1] TRUE
```

The function `purrr::every()` does fancy things with the predicate function argument `.p`, like taking a logical vector instead of a function, or being able to test part of a string if the elements of `.x` are lists.

##### Exercise 21.9.2[__](https://jrnold.github.io/r4ds-exercise-solutions/iteration.html#exercise-21.9.2)

Create an enhanced `col_summary()` that applies a summary function to every numeric column in a data frame.

I will use `map` to apply the function to all the columns, and `keep` to only select numeric columns.

```R
col_sum2 <- function(df, f, ...) {
  map(keep(df, is.numeric), f, ...)
}
```

```R
col_sum2(iris, mean)
#> $Sepal.Length
#> [1] 5.84
#> 
#> $Sepal.Width
#> [1] 3.06
#> 
#> $Petal.Length
#> [1] 3.76
#> 
#> $Petal.Width
#> [1] 1.2
```

### Exercise 21.9.3[__](https://jrnold.github.io/r4ds-exercise-solutions/iteration.html#exercise-21.9.3)

A possible base R equivalent of `col_summary()` is:

```R
col_sum3 <- function(df, f) {
  is_num <- sapply(df, is.numeric)
  df_num <- df[, is_num]
  sapply(df_num, f)
}
```

But it has a number of bugs as illustrated with the following inputs:

```R
df <- tibble(
  x = 1:3,
  y = 3:1,
  z = c("a", "b", "c")
)

# OK
col_sum3(df, mean)
# Has problems: don't always return numeric vector
col_sum3(df[1:2], mean)
col_sum3(df[1], mean)
col_sum3(df[0], mean)
```

<b><font color = 'purple'>What causes these bugs? </font></b>

<font color = 'blue'>The cause of these bugs is the behavior of `sapply()`.
The `sapply()` function does not guarantee the type of vector it returns, and will returns different types of vectors depending on its inputs.</font>
If no columns are selected, instead of returning an empty numeric vector, it returns an empty list.
This causes an error since we can’t use a list with `[`.

```R
sapply(df[0], is.numeric)
#> named list()
```

```R
sapply(df[1], is.numeric)
#>   X1 
#> TRUE
```

```R
sapply(df[1:2], is.numeric)
#>    X1    X2 
#>  TRUE FALSE
```

The `sapply()` function tries to be helpful by simplifying the results, but this behavior can be counterproductive.
It is okay to use the `sapply()` function interactively, but avoid programming with it.

# Purrr beyond map

https://hendrikvanb.gitlab.io/slides/purrr_beyond_map.html#9

"C:\Users\bings\DS\0_McElreath_SR\refs\2_purrr_beyond_map.pdf"

## map() Apply to all

In [ ]:
# function to get square of number
my_square <- function(x) x^2

1:5 %>% map(my_square)

In [ ]:
# get square of each number 1:5 and output as list
res1 <- 1:5 %>% map(my_square)                # direct call
res2 <- 1:5 %>% map(~my_square(.))            # for backward compatibility
res3 <- 1:5 %>% map(~my_square(.x))           # formula 
res4 <- 1:5 %>% map(function(x) my_square(x)) # inline anonymous function

In [ ]:
# test equivalence
identical(res1, res2) & identical(res2, res3) & identical(res3, res4)

##### <b><font color = 'purple'>Passing arguments with ... </font></b>

##### Use paste() to add 'min' as suffix to each number from 1 to 5

In [ ]:
1:5 %>% map(paste, 'min')

In [ ]:
1:5 %>% map(~paste(.x, 'min'))

In [ ]:
# pass arguments along
spec1 <- 1:5 %>% map(paste, 'min')
# formula specification (two variants)
spec2 <- 1:5 %>% map(~paste(., 'min'))
spec3 <- 1:5 %>% map(~paste(.x, 'min'))
# inline anonymous function specification
spec4 <- 1:5 %>% map(function(x) paste(x, 'min'))
# test equivalence
list(spec2, spec3, spec4) %>% map_lgl(identical, y = spec1)

<div class="alert alert-block alert-danger">
Passing arguments: via ... vs in function <br>
A seemingly subtle, yet important difference

Not all that seems vecorised is...
- <font color = 'red'>map() is only vectorised over its  first argument</font> so arguments passed to map() after .f will be
- passed along as is and
- evaluated once

What is that supposed to mean?
- Has implications if you pass arguments to function via ...
- errors if you pass vectors as arguments to functions that do not accept vectors as arguments
- potentially wrong results even if arguments specified correctly

In [ ]:
# function that multiplies input (arg1) by specified constant (arg2)
temp_func <- function(x, constant = 2) {
  glue::glue('{x} x {constant} = {x*constant}')
}

# method 1: pass parameterised arg2 directly to map_chr
1:5 %>% map_chr(temp_func, constant = sample(1:10, 1))

# method 2: pass parameterised arg2 into inline anonymous function
1:5 %>% map_chr(function(x) temp_func(x, constant = sample(1:10, 1)))

In [ ]:
sample(1:10, 1)

##### map_*()
Specifying the output format

map_*(.x, .f, ...) 
call function .f once for each element of vector .x; return the result
as an atomic vector of type *; error if impossible

In [ ]:
1:5 %>% map_chr(paste, 'min')
1:5 %>% map_chr(paste, 'min') %>% class()
# [1] "character"

In [ ]:
1:5 %>% map_lgl(function(x) x < 3)
1:5 %>% map_lgl(function(x) x < 3) %>% class()
# [1] "logical"

In [ ]:
1:5 %>% map_int(function(x) x * 2L)
1:5 %>% map_int(function(x) x * 2L) %>% class()
# [1] "integer"

In [ ]:
1:5 %>% map_dfr(function(x) tibble(value = x))
1:5 %>% map_dfr(function(x) tibble(value = x)) %>% class()
# [1] "tbl_df"     "tbl"        "data.frame"

In [ ]:
1:5 %>% map_dfc(function(x) data.table(value = x))
1:5 %>% map_dfc(function(x) data.table(value = x)) %>% class()
# [1] "data.table" "data.frame"

## map() has siblings: walk() and modify()

##### <b>walk(.x, .f, ...) </b>
* call function .f once for each element of .x; return
nothing

<b>modify(.x, .f, ...) </b>
* call function .f once for each element of .x; return the
result as an object of the same type as .x

In [ ]:
# no output
1:5 %>% walk(paste, 'min')

In [ ]:
# output, but not what you might have expected
1:5 %>% walk(function(x) x ^ 2) %>% print()
# [1] 1 2 3 4 5

In [ ]:
# proof that walk is actually doing stuff
1:5 %>% walk(function(x) print(x ^ 2)) %>% print()

In [ ]:
# obviously a character vector
x <- c('1', '2', '3', '4', '5')

# try to convert each element to integer using map_dbl
x %>% map_dbl(as.integer)
# [1] 1 2 3 4 5

x %>% map_dbl(as.integer) %>% typeof()

In [ ]:
# try to convert each element to integer using modify
x %>% modify(as.integer)
# [1] "1" "2" "3" "4" "5"

x %>% modify(as.integer) %>% typeof()

##### Why walk()? Why modify()?
What's the point?

Just do stuff (```walk()```)
- Some functions just need to do stuff , not necessarily return
stuff 
   - E.g.: cat(), message(), saveRDS(), etc
- Particularly useful for disk I/O operations
- Allows input "passthrough"

Change the content; keep the wrapper (```modify()```)
- Some functions just need to change stuff , not necessarily
create stuff 
- Not everything needs to be coerced
    - What if input is already of the type we want as
output?
    - Type preservation can be essential
- Particularly useful are the modify_if() and modify_at()
variants

## map() variants cheatsheet

<b><font color = 'purple'>Basic rules & the matrix of understanding </font></b>

**map variant rules:**

1.  `map()` returns list; `map_*()` returns vector of type specified 
2.  `modify()` returns same type as input
3.  `walk()` returns nothing
4.  Iterate over two inputs with `map2()`, `walk2()`, `modify2()`
5.  Iterate over input and index with `imap()`, `imodify()`, `iwalk()`
6.  Iterate over any number of inputs with `pmap()` and `pwalk()`


**map variant matrix:**

* map family of functions has orthogonal input and outputs
* can organise all the family into a matrix, with inputs in the rows and outputs in the columns

 arguments            |   list   |   atomic          |   preserve type |   nothing 
---------------------- | -------- | ----------------- | --------------- | ---------
 one argument         |  `map()`  | `map_lgl(), ...`  | `modify()`      | `walk()` 
 two arguments        |  `map2()` | `map2_lgl(), ...` | `modify2()`     | `walk2()`
 one argument + index |  `imap()` | `imap_lgl(), ...` | `imodify()`     | `iwalk()`
 n arguments          |  `pmap()` | `pmap_lgl(), ...` | `NA`            | `pwalk()`

##### <b><font color = 'maroon'>Using pwalk() </font></b>
<font color = 'green'><b>Itteratively write data to disk using ```purrr::pwalk()```</b></font>

<font color = 'green'>For each manufacturer in the `mpg` dataset, write a `.csv` file to disk containing only the data for that manufacturer </font>

In [2]:
# check for files (show that there are none)
print(list.files('data/mpg'))
# character(0)

 [1] "df_audi.csv"       "df_chevrolet.csv"  "df_dodge.csv"
 [4] "df_ford.csv"       "df_honda.csv"      "df_hyundai.csv"
 [7] "df_jeep.csv"       "df_land rover.csv" "df_lincoln.csv"
[10] "df_mercury.csv"    "df_nissan.csv"     "df_pontiac.csv"
[13] "df_subaru.csv"     "df_toyota.csv"     "df_volkswagen.csv"

In [3]:
getwd()

[1] "C:/Users/bings/DS/0_McElreath_SR"

In [5]:
# create files by taking the mpg df %>% collapsing the data for each 
# manufacturer into a list column %>% walking over the two columns 
# in the df and for each pair (i.e. row of manufacturer and data values) 
# doing: {create path variable to point to the path where the data 
# should be written %>% write the data to disk in .csv format}

mpg %>%
  group_nest(manufacturer, keep = T) %>%
  pwalk(function(manufacturer, data) {
    path <- file.path('data/mpg', glue::glue('df_{manufacturer}.csv'))
    write_csv(data, path)
  })

In [6]:
# check for files again (show that there are now files)
list.files('data/mpg') %>% {c(head(., 2), tail(., 2))}
# [1] "df_audi.csv"       "df_chevrolet.csv"  "df_toyota.csv"     "df_volkswagen.csv"

[1] "df_audi.csv"       "df_chevrolet.csv"  "df_toyota.csv"
[4] "df_volkswagen.csv"

##### <b><font color = 'MAROON'>Using `iwalk()`</font></b>

<font color = 'green'><b>Itteratively read data into `purrr::iwalk()`</b></font>

 Read each of the .csv files just written to disk into R's global environment as a data frames. Use each file's name (without the .csv extension) as the name for its data frame.

In [7]:
# check for objects (show that there are none)
ls()
# character(0)

character(0)

In [8]:
# get a list of all of the .csv files located in data/mpg %>% using set_names, name each element in this list with its filename sans the .csv extension %>% using iwalk to apply the assign function to each element in the list. Specifically, use fread to read the csv file from disk into a data frame and then assign that data frame as a named object to R's global environment
list.files('data/mpg', pattern = '.csv', full.names = T) %>% 
  set_names(str_remove(basename(.), '.csv$')) %>% 
  iwalk(function(x, i) assign(i, fread(x), .GlobalEnv))

In [9]:
# check for objects again (show that there are now files)
ls() %>% {c(head(., 2), tail(., 2))}

[1] "df_audi"       "df_chevrolet"  "df_toyota"     "df_volkswagen"

In [10]:
df_audi %>% head

  manufacturer model displ year cyl trans      drv cty hwy fl class
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact
3 audi         a4    2.0   2008 4   manual(m6) f   20  31  p  compact
4 audi         a4    2.0   2008 4   auto(av)   f   21  30  p  compact
5 audi         a4    2.8   1999 6   auto(l5)   f   16  26  p  compact
6 audi         a4    2.8   1999 6   manual(m5) f   18  26  p  compact

##### <b><font color = 'MAROON'>Using modify_*()</font></b>
<b>Conditionally change contents using purrr::modify_if()</b>

<b><font color = 'purple'>For each manufacturer in the mpg dataset, express all of the numeric columns as the percentage deviation from the mean </font></b>

In [13]:
# define function to express each element in vector as % deviation from mean
myfunc <- function(x) x / mean(x, na.rm = T) - 1

In [14]:
## data.table approach
# 1) take mpg %>% convert to data.table %>% group by manufacturer, 
# 2) then use modify_if to target all numeric columns and modify 
#    each using the deviation function
a <- mpg %>% 
  setDT() %>%
  .[by = .(manufacturer),
    j = modify_if(.SD, is.numeric, myfunc)]

When working on large lists or data.frames, it might be both time and memory consuming to convert them to a data.table using as.data.table(.), as this will make a complete copy of the input object before to convert it to a data.table. The setDT function takes care of this issue by allowing to convert lists - both named and unnamed lists and data.frames by reference instead. That is, the input object is modified in place, no copy is being made.

In [23]:
## dplyr approach
# take mpg %>%  group by manufacturer %>%  use mutate_if 
# to mutate all numeric columns using the deviation 
# function %>% ungroup the data
b <- mpg %>%
  group_by(manufacturer) %>%
  mutate_if(is.numeric, myfunc) %>%
  ungroup()

`mutate_if()` ignored the following grouping variables:
Column `manufacturer`

In [26]:
b %>% head()

  manufacturer model displ      year         cyl        trans      drv
1 audi         a4    -0.2925764 -0.002246069 -0.2340426 auto(l5)   f
2 audi         a4    -0.2925764 -0.002246069 -0.2340426 manual(m5) f
3 audi         a4    -0.2139738  0.002246069 -0.2340426 manual(m6) f
4 audi         a4    -0.2139738  0.002246069 -0.2340426 auto(av)   f
5 audi         a4     0.1004367 -0.002246069  0.1489362 auto(l5)   f
6 audi         a4     0.1004367 -0.002246069  0.1489362 manual(m5) f
  cty         hwy         fl class
1  0.02208202  0.09663866 p  compact
2  0.19242902  0.09663866 p  compact
3  0.13564669  0.17226891 p  compact
4  0.19242902  0.13445378 p  compact
5 -0.09148265 -0.01680672 p  compact
6  0.02208202 -0.01680672 p  compact

In [24]:
# show that methods produce equivalent outputs
all_equal(a, b)

[1] TRUE

## Predicate functionals

<font color = 'green'>A predicate function is a function that either returns `TRUE` or `FALSE`. Predicate functionals take vector `.x` and predicate function `.f` and do something useful.</font>

##### <b><font color = 'MAROON'>Using `every()` and `some()`All or nothing some!</font></b>

For which manufacturers in the `mpg` dataset do the city miles per gallon (`cty`) 
* (a) exceed 15mpg on all models and/or 
* (b) 25 mpg on <font color = 'blue'>at least some models</font>?

In [32]:
# take mpg %>%  group by manufacturer %>%  use 
# summarise to create 2 summary columns: 
# 1) all_above_15 captures whether every value of cty > 15, while 
# 2) some_above_25 captures whether some values of cty > 25 
# %>% ungroup the data

mpg %>% 
  group_by(manufacturer) %>% 
  summarise(
    all_above_15 = every(cty, function(x) x > 15), 
    some_above_25 = some(cty, function(x) x > 25)) %>% 
  ungroup()

   manufacturer all_above_15 some_above_25
1  audi         FALSE        FALSE
2  chevrolet    FALSE        FALSE
3  dodge        FALSE        FALSE
4  ford         FALSE        FALSE
5  honda         TRUE         TRUE
6  hyundai       TRUE        FALSE
7  jeep         FALSE        FALSE
8  land rover   FALSE        FALSE
9  lincoln      FALSE        FALSE
10 mercury      FALSE        FALSE
11 nissan       FALSE        FALSE
12 pontiac       TRUE        FALSE
13 subaru        TRUE        FALSE
14 toyota       FALSE         TRUE
15 volkswagen    TRUE         TRUE

In [33]:
# using 15 for both ~ take mpg %>%  group by manufacturer %>%  use 
# summarise to create 2 summary columns: 
# 1) all_above_15 captures whether every value of cty > 15, while 
# 2) some_above_25 captures whether some values of cty > 25 
# %>% ungroup the data

mpg %>% 
  group_by(manufacturer) %>% 
  summarise(
    all_above_15 = every(cty, function(x) x > 15), 
    some_above_15 = some(cty, function(x) x > 15)) %>% 
  ungroup()

   manufacturer all_above_15 some_above_15
1  audi         FALSE         TRUE
2  chevrolet    FALSE         TRUE
3  dodge        FALSE         TRUE
4  ford         FALSE         TRUE
5  honda         TRUE         TRUE
6  hyundai       TRUE         TRUE
7  jeep         FALSE         TRUE
8  land rover   FALSE        FALSE
9  lincoln      FALSE        FALSE
10 mercury      FALSE        FALSE
11 nissan       FALSE         TRUE
12 pontiac       TRUE         TRUE
13 subaru        TRUE         TRUE
14 toyota       FALSE         TRUE
15 volkswagen    TRUE         TRUE

In [37]:
# take mpg %>%  group by manufacturer %>%  filter to 
# keep only data for manufacturers whose models all 
# have cty > 15mpg
mpg %>% 
  group_by(manufacturer) %>% 
  filter(every(cty, function(x) x > 15)) %>% tally

  manufacturer n
1 honda         9
2 hyundai      14
3 pontiac       5
4 subaru       14
5 volkswagen   27

In [40]:
# take mpg %>%  group by manufacturer %>%  filter to 
# keep only data for manufacturers whose models all 
# have cty > 15mpg
mpg %>% 
  group_by(manufacturer) %>% 
  filter(some(cty, function(x) x > 15)) %>% tally

   manufacturer n
1  audi         18
2  chevrolet    19
3  dodge        37
4  ford         25
5  honda         9
6  hyundai      14
7  jeep          8
8  nissan       13
9  pontiac       5
10 subaru       14
11 toyota       34
12 volkswagen   27

## Other vector transformations

<b><font color = 'MAROON'>`reduce()` and `accumulate()`Collapsing it all or building it up</font></b>

###### `reduce(.x, .f, ..., .init)`   

<font color = 'green'>use function `.f` to combine elements of `.x` by passing the result of each iteration as an initial value to the next iteration; <span style='background-color: lightgreen'>return single result from final iteration</span></font>

In [41]:
# return cumulative sum of 1:5
1:5 %>% reduce(`+`)
1:5 %>% reduce(function(x, y) x + y)
# [1] 15

[1] 15

[1] 15

In [46]:
1:3 %>% reduce(`-`)
1:3 %>% reduce(`+`)

[1] -4

[1] 6

In [50]:
1 - 2 - 3
1 + 2 + 3

[1] -4

[1] 6

In [42]:
# which numbers appear in the vector 1:5
1:5 %>% reduce(function(x, y) paste(x, 'and', y))
# [1] "1 and 2 and 3 and 4 and 5"

[1] "1 and 2 and 3 and 4 and 5"

In [45]:
1:5

[1] 1 2 3 4 5

###### `accumulate(.x, .f, ..., .init)`   

<font color = 'green'>use function `.f` to combine elements of `.x` by passing the result of each iteration as an initial value to the next iteration; <span style='background-color: lightgreen'>return list of results from each iteration</span></font>

In [53]:
# return each step in cumulative sum of 1:5
1:5 %>% accumulate(`+`)
1:5 %>% accumulate(function(x, y) x + y)
# [1]  1  3  6 10 15

[1]  1  3  6 10 15

[1]  1  3  6 10 15

In [52]:
# which numbers appear in each itteration
1:5 %>% accumulate(function(x, y) paste(x, 'and', y))

[1] "1"                         "1 and 2"
[3] "1 and 2 and 3"             "1 and 2 and 3 and 4"
[5] "1 and 2 and 3 and 4 and 5"

###### <b><font color = 'purple'>Why `reduce()`? Why `accumulate()`? What's the point? </font></b>

**```reduce()```: _E pluribus unum (from many one)_** 

* You want just one thing
* Getting that thing requires repeating (effectively) the same additive operation
    * E.g.: `bind_rows()`, `bind_cols()`, `left_join()`, `merge`, etc

**accumulate(): Build something bit by bit**

* Each step that builds up to the final "thing" is of interest
    * Incrementally building a plot
    * Building up a model specification
    * Complex accumulative sequences

### Using `accumulate()`
Building up a model using `purrr::accumulate()`

Starting with `cty ~ manufacturer` as a base, 

1. <font color = 'purple'>build up several linear model specifications for estimating the city miles per gallon (`cty`) in the `mpg` dataset by incrementally adding the `trans`, `drv`, and `class` terms to the model </font>. 

2. <font color = 'purple'>Estimate each model and report the adjusted R-squared. </font></b>

In [54]:
# create a vector of model specifications by  
# taking the relevant column names %>% 
# 
# accumulating each into the base specification 
# using paste and a ' + ' separator %>% 
# 
# number each model sequentially using 
# set_names %>% 
#    print the results in a neatly formatted tibble

models <- c('trans', 'drv', 'class') %>%
  accumulate(function(x, y) paste(x, y, sep = ' + '),
             .init = 'cty ~ manufacturer') %>%
  set_names(1:length(.))

enframe(models, name = 'model', value = 'spec')

# accumulate() sequentially applies a 2-argument 
# function to elements of a vector. 
# 
# Each application of the function uses the 
# initial value or result of the previous application 
# as the 1st argument. 
# 
# The 2nd argument is the next value of the vector. 
# The results of each application are returned in a list.

  model spec
1 1     cty ~ manufacturer
2 2     cty ~ manufacturer + trans
3 3     cty ~ manufacturer + trans + drv
4 4     cty ~ manufacturer + trans + drv + class

In [92]:
# TAKE MODELS %>% 

# ESTIMATE each using map to apply the lm function %>% 

# GET THE SUMMARY for each set of results using map to 
# apply the summary function %>% 

# EXTRACT THE ADJUSTED R-SQUARED for each set of 
# summary results using map_dbl to extract it by name %>% 

# PRINT THE RESULTS in a neatly formatted tibble

models %>% 
  map(lm, data = mpg) %>% 
  map(summary) %>% 
  map_dbl("adj.r.squared") %>% 
  enframe(name = 'model', value = 'Adj-R2')

# enframe(): converts named atomic vectors or lists to one- or
# two-column data frames. For a list, the result 
# will be a nested tibble with a column of type list. 
# For unnamed vectors, the natural sequence is used 
# as name column.

  model Adj-R2
1 1     0.5279380
2 2     0.5509939
3 3     0.6870783
4 4     0.7130109

In [86]:
# https://www.r-bloggers.com/extracting-information-from-objects-using-names/
names(lm(cty ~ manufacturer + trans, data = mpg)) 
names(summary(lm(cty ~ manufacturer + trans, data = mpg)) )

 [1] "coefficients"  "residuals"     "effects"       "rank"
 [5] "fitted.values" "assign"        "qr"            "df.residual"
 [9] "contrasts"     "xlevels"       "call"          "terms"
[13] "model"

 [1] "call"          "terms"         "residuals"     "coefficients"
 [5] "aliased"       "sigma"         "df"            "r.squared"
 [9] "adj.r.squared" "fstatistic"    "cov.unscaled"

In [81]:
models %>% 
  map(lm, data = mpg) %>% 
  map(summary)

$`1`

Call:
.f(formula = .x[[i]], data = ..1)

Residuals:
    Min      1Q  Median      3Q     Max
-7.5294 -1.6349 -0.1351  1.0000 14.0741

Coefficients:
                       Estimate Std. Error t value Pr(>|t|)
(Intercept)             17.6111     0.6892  25.552  < 2e-16 ***
manufacturerchevrolet   -2.6111     0.9618  -2.715 0.007160 **
manufacturerdodge       -4.4760     0.8403  -5.327 2.48e-07 ***
manufacturerford        -3.6111     0.9039  -3.995 8.84e-05 ***
manufacturerhonda        6.8333     1.1938   5.724 3.40e-08 ***
manufacturerhyundai      1.0317     1.0420   0.990 0.323192
manufacturerjeep        -4.1111     1.2425  -3.309 0.001096 **
manufacturerland rover  -6.1111     1.6164  -3.781 0.000202 ***
manufacturerlincoln     -6.2778     1.8235  -3.443 0.000690 ***
manufacturermercury     -4.3611     1.6164  -2.698 0.007517 **
manufacturernissan       0.4658     1.0643   0.438 0.662060
manufacturerpontiac     -0.6111     1.4782  -0.413 0.679710
manufacturersubaru       1.6746     1.0420   1.607 0.109474
manufacturertoyota       0.9183     0.8524   1.077 0.282502
manufacturervolkswagen   3.3148     0.8898   3.725 0.000248 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 2.924 on 219 degrees of freedom
Multiple R-squared:  0.5563,	Adjusted R-squared:  0.5279
F-statistic: 19.61 on 14 and 219 DF,  p-value: < 2.2e-16


$`2`

Call:
.f(formula = .x[[i]], data = ..1)

Residuals:
    Min      1Q  Median      3Q     Max
-7.1714 -1.6166 -0.1827  1.3516 13.3367

Coefficients:
                       Estimate Std. Error t value Pr(>|t|)
(Intercept)            20.05242    1.43088  14.014  < 2e-16 ***
manufacturerchevrolet  -2.42439    1.00483  -2.413 0.016692 *
manufacturerdodge      -4.28521    0.87803  -4.881 2.09e-06 ***
manufacturerford       -3.58334    0.93766  -3.822 0.000175 ***
manufacturerhonda       6.76587    1.19540   5.660 4.93e-08 ***
manufacturerhyundai     0.82892    1.06578   0.778 0.437587
manufacturerjeep       -3.22429    1.27192  -2.535 0.011974 *
manufacturerland rover -5.78756    1.62044  -3.572 0.000440 ***
manufacturerlincoln    -6.30603    1.87308  -3.367 0.000905 ***
manufacturermercury    -3.85076    1.64402  -2.342 0.020102 *
manufacturernissan     -0.08736    1.08121  -0.081 0.935678
manufacturerpontiac    -0.57982    1.55189  -0.374 0.709061
manufacturersubaru      1.24860    1.11053   1.124 0.262157
manufacturertoyota      0.70350    0.88388   0.796 0.426979
manufacturervolkswagen  3.21686    0.89495   3.594 0.000405 ***
transauto(l3)           2.73844    2.48926   1.100 0.272547
transauto(l4)          -2.58452    1.45933  -1.771 0.078005 .
transauto(l5)          -3.57600    1.48750  -2.404 0.017084 *
transauto(l6)          -2.07010    1.90165  -1.089 0.277588
transauto(s4)          -2.02488    2.30067  -0.880 0.379797
transauto(s5)          -3.15896    2.14419  -1.473 0.142177
transauto(s6)          -2.94518    1.58837  -1.854 0.065111 .
transmanual(m5)        -1.60599    1.45679  -1.102 0.271542
transmanual(m6)        -2.61962    1.52305  -1.720 0.086909 .
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 2.852 on 210 degrees of freedom
Multiple R-squared:  0.5953,	Adjusted R-squared:  0.551
F-statistic: 13.43 on 23 and 210 DF,  p-value: < 2.2e-16


$`3`

Call:
.f(formula = .x[[i]], data = ..1)

Residuals:
    Min      1Q  Median      3Q     Max
-5.3219 -1.2369 -0.2352  0.8721 13.5245

Coefficients:
                       Estimate Std. Error t value Pr(>|t|)
(Intercept)            15.75704    1.27460  12.362  < 2e-16 ***
manufacturerchevrolet  -2.19852    0.93034  -2.363 0.019043 *
manufacturerdodge      -3.77374    0.73511  -5.134 6.51e-07 ***
manufacturerford       -2.05821    0.87892  -2.342 0.020140 *
manufacturerhonda       3.79182    1.04443   3.631 0.000356 ***
manufacturerhyundai    -1.97727    0.93614  -2.112 0.035867 *
manufacturerjeep       -1.75384    1.07296  -1.635 0.103650
manufacturerland rover -3.93952    1.36641  -2.883 0.004351 **
manufacturerlincoln    -4.77883    1.74427  -2.740 0.006683 **
manufacturermercury    -1.89278    1.38753  -1.364 0.173998
manufacturernissan     -0.92682    0.90679  -1.022 0.307926
manufacturerpontiac    -3.22015    1.32461  -2.431 0.015904 *
manufacturersubaru      3.33198    0.95198   3.500 0.000569 ***
manufacturertoyota      0.06067    0.74108   0.082 0.934834
manufacturervolkswagen  0.24343    0.80811   0.301 0.763536
transauto(l3)           2.30044    2.07863   1.107 0.269697
transauto(l4)          -0.46043    1.23854  -0.372 0.710454
transauto(l5)          -0.51745    1.28178  -0.404 0.686850
transauto(l6)          -0.96169    1.59176  -0.604 0.546392
transauto(s4)           0.16201    1.93410   0.084 0.933325
transauto(s5)          -1.35458    1.79977  -0.753 0.452517
transauto(s6)          -0.17460    1.35673  -0.129 0.897728
transmanual(m5)         0.67599    1.23889   0.546 0.585897
transmanual(m6)         0.12053    1.30417   0.092 0.926454
drvf                    4.79906    0.49681   9.660  < 2e-16 ***
drvr                    0.98265    0.73664   1.334 0.183678
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 2.381 on 208 degrees of freedom
Multiple R-squared:  0.7207,	Adjusted R-squared:  0.6871
F-statistic: 21.46 on 25 and 208 DF,  p-value: < 2.2e-16


$`4`

Call:
.f(formula = .x[[i]], data = ..1)

Residuals:
    Min      1Q  Median      3Q     Max
-4.7482 -1.0538 -0.0648  0.9362 12.8709

Coefficients:
                       Estimate Std. Error t value Pr(>|t|)
(Intercept)             17.0227     1.8683   9.112  < 2e-16 ***
manufacturerchevrolet   -0.1123     1.1732  -0.096 0.923837
manufacturerdodge       -1.4692     1.0299  -1.427 0.155254
manufacturerford        -0.4564     1.0328  -0.442 0.659035
manufacturerhonda        3.9622     1.4117   2.807 0.005495 **
manufacturerhyundai     -1.0774     1.2036  -0.895 0.371780
manufacturerjeep         0.1949     1.2006   0.162 0.871168
manufacturerland rover  -1.9530     1.4621  -1.336 0.183136
manufacturerlincoln     -1.2614     1.8916  -0.667 0.505637
manufacturermercury     -0.1651     1.4577  -0.113 0.909962
manufacturernissan       0.7075     1.0442   0.678 0.498840
manufacturerpontiac     -1.5448     1.5135  -1.021 0.308613
manufacturersubaru       3.6594     0.9914   3.691 0.000287 ***
manufacturertoyota       1.5828     0.9014   1.756 0.080611 .
manufacturervolkswagen   1.1671     0.9701   1.203 0.230359
transauto(l3)            2.0753     2.0527   1.011 0.313203
transauto(l4)           -0.5730     1.2230  -0.468 0.639937
transauto(l5)           -0.8040     1.2518  -0.642 0.521396
transauto(l6)           -0.3640     1.5878  -0.229 0.818880
transauto(s4)           -0.9328     1.9577  -0.476 0.634259
transauto(s5)           -2.0776     1.7710  -1.173 0.242126
transauto(s6)           -0.6236     1.3400  -0.465 0.642152
transmanual(m5)          0.2069     1.2154   0.170 0.864992
transmanual(m6)         -0.5298     1.2738  -0.416 0.677926
drvf                     3.2368     0.8833   3.664 0.000317 ***
drvr                    -0.9533     0.8723  -1.093 0.275748
classcompact            -0.1054     1.5577  -0.068 0.946104
classmidsize            -1.0698     1.4942  -0.716 0.474816
classminivan            -2.6779     1.8945  -1.414 0.159032
classpickup             -2.9824     1.5462  -1.929 0.055147 .
classsubcompact          0.4955     1.4485   0.342 0.732636
classsuv                -2.9714     1.3881  -2.141 0.033508 *
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 2.28 on 202 degrees of freedom
Multiple R-squared:  0.7512,	Adjusted R-squared:  0.713
F-statistic: 19.67 on 31 and 202 DF,  p-value: < 2.2e-16

## Adverbs

<font color = 'green'><b>modify the action of a function; taking a function as input and returning a function with modified action as output</b></font>

##### > `compose(..., .dir = c('backward, 'forward))`   
> apply functions `...` in order in the direction `.dir` specified

In [98]:
round(mean(log(1:20), na.rm = T), digits = 2)
# [1] 2.12

[1] 2.12

In [99]:
round(mean(log(5:100), na.rm = T), digits = 2)
# [1] 3.76

[1] 3.76

In [103]:
# compose steps into a function
mycomp <- compose(log,
                  ~ mean(.x, na.rm = T),
                  ~ round(.x, digits = 2),
                  .dir = 'forward')
mycomp(1:20)
# [1] 2.12

[1] 2.12

In [101]:
mycomp(5:100)
# [1] 3.76

[1] 3.76

##### > `partial(.f, ...)`   
> modify function `.f` by pre-filling and fixing some of its arguments

In [104]:
round(0.532131245, digits = 2)
# [1] 0.53

[1] 0.53

In [105]:
round(12394.13498134, digits = 2)
# [1] 12394.13

[1] 12394.13

In [106]:
# prefill and fix parameter (WARNING!)
myround <- partial(round, digits = 2)
myround(0.532131245)
# [1] 0.53

[1] 0.53

In [107]:
myround(12394.13498134)
# [1] 12394.13

[1] 12394.13

In [115]:
myround(1/3, digits = 2)
# Error in (function (x, digits = 0) : formal argument "digits" matched by multiple actual arguments

ERROR: Error in (function (x, digits = 0) : formal argument "digits" matched by multiple actual arguments

##### Using `compose()`There's more than one way to skin a cat

<font color = 'purple'>Compose a function that can be used to estimate each model in the previously defined `models` vector and report the adjusted R-squared. </font>

In [118]:
## old method

# take models %>% 

# 1.estimate each using map to apply the lm function %>% 

# 2.get the summary for each set of results using map to 
# apply the summary function %>% 

# 3.extract the adjusted r-squared for each set of summary
# results using map_dbl to extract it by name %>% 

# 4.print the results in a neatly formatted tibble

models %>% 
  map(lm, data = mpg) %>% #1
  map(summary) %>% #2
  map_dbl("adj.r.squared") %>% #3
  enframe(name = 'model', value = 'Adj-R2') #4

  model Adj-R2
1 1     0.5279380
2 2     0.5509939
3 3     0.6870783
4 4     0.7130109

In [121]:
## compose method

# compose a function that sends arguments to lm, 
# then passes the results to summary, then plucks 
# the r-squared from those results, then enframes
mycomp <- compose(lm, summary, 
                  ~pluck(.x, 'adj.r.squared'), 
                  ~enframe(.x, name = 'model', value = 'adj.r.squared'), 
                  .dir = 'forward')

# take models %>% 
# estimate each by using map_dfr to apply the
# mycomp function and row bind
models %>% 
  map_dfr(~mycomp(.x, data = mpg))

  model adj.r.squared
1 1     0.5279380
2 1     0.5509939
3 1     0.6870783
4 1     0.7130109

## `safely()`, `possibly()`, and `insistently()`

Failure is not an option!

In [126]:
# define bad function that only works on odd numbers
badfunc <- function(x) 
    if (x %% 2 == 0) stop('Only odd numbers allowed')  else (x)

In [94]:
# define safe version of badfunc , possible, and insistent versions of badfunc
safely_badfunc <- safely(badfunc)

In [96]:
# define possible version of badfunc
possibly_badfunc <- possibly(badfunc, otherwise = NA_real_)

In [97]:
# define insistent version of badfunc
insistently_badfunc <- insistently(badfunc, rate = rate_backoff(pause_cap = 1, max_times = 4))

###### > `safely(.f, otherwise = NULL, quiet = TRUE)`   
> modifies function `.f` to return a list with components `result` (result if not error, NA otherwise) and `error` (error message if error, NULL otherwise).

In [137]:
# define bad function that only works on odd numbers
badfunc <- function(x) 
    if (x %% 2 == 0) stop('Only odd numbers allowed')  else (x)
        
# test functions of "good" value
badfunc(1)
#> [1] 1
    
cat('\n',"", str_dup("-",58), '\n')


# test functions of "bad" value
badfunc(2)
#> Error in badfunc(2): Only odd numbers allowed

[1] 1

  ----------------------------------------------------------

ERROR: Error in badfunc(2): Only odd numbers allowed

In [149]:
# define safe version of badfunc , 
safely_badfunc <- safely(badfunc)

safely_badfunc(1)
safely_badfunc(3)
cat(str_dup("-",58))
safely_badfunc(2)

$result
[1] 1

$error
NULL

$result
[1] 3

$error
NULL

----------------------------------------------------------

$result
NULL

$error
<simpleError in .f(...): Only odd numbers allowed>

###### > `possibly(.f, otherwise, quiet = TRUE)`   
> modifies function `.f` to return `otherwise` if error occurs.

In [145]:
# define possible version of badfunc
possibly_badfunc <- possibly(badfunc, otherwise = NA_real_)

possibly_badfunc(1)

cat(str_dup("-",58))

possibly_badfunc(2)

[1] 1

----------------------------------------------------------

[1] NA

###### > `insistently(f, rate = rate_backoff())`   
> modifies function `.f` to retry specified times on error.

In [146]:
# define insistent version of badfunc
insistently_badfunc <- insistently(badfunc, 
                                   rate = rate_backoff(pause_cap = 1, 
                                                       max_times = 4))

insistently_badfunc(1)

cat(str_dup("-",58))

insistently_badfunc(2)

[1] 1

----------------------------------------------------------

ERROR: Error: Request failed after 4 attempts

##### Why `safely()`? Why `possibly()`? Why `insistently()`What's the point?

> `safely(.f, otherwise = NULL, quiet = TRUE)`   
> modifies function `.f` to return a list with components `result` (result if not error, NA otherwise) and `error` (error message if error, NULL otherwise).

**Give me the info and let me decide what to do**

* Ever called an API?
* Allows for robust, flexible error handling

> `possibly(.f, otherwise, quiet = TRUE)`   
> modifies function `.f` to return `otherwise` if error occurs.

**Let's pretend that didn't happen, okay?**

* Don't get bogged down with failures
* You care (a bit) about the fact that there was an error, but not enough to want to stop.  
* You don't care at all about the reason for the error or you're fairly confident about why there is an error

> `insistently(f, rate = rate_backoff())`   
> modifies function `.f` to retry specified times on error.

**If at first you don't succeed**

* Get back on that horse!
* Really only useful if you expect the chance of success to change with repeated attempts
    * i.e. the input to the function could change over successive calls

## More `purrr` fun(ctions)But wait, there's more...

**Generalisations**

* `keep()` and `discard` as generalisations of `dplyr::select_if()`
* `pluck()` as generalisation of `[[` and `dplyr::pull()`
* etc.

**Companions**

* `prepend()` as companion to `append()`
* `negate()` as companion to any predicate function


**etc**

* more predicate functionals
* more vector transformations
* etc.

# Misc

In [ ]:
library(dbplyr)
# library(dplyr)

In [ ]:
iris %>% head() %>% dbplyr::translate_sql()

## Paste

In [ ]:
## When passing a single vector, paste0 and paste work like as.character.
paste0(1:12)
paste(1:12)        # same
as.character(1:12) # same

In [57]:
## If you pass several vectors to paste0, they are concatenated in a
## vectorized way.
(nth <- paste0(1:12, c("st", "nd", "rd", rep("th", 9))))

 [1] "1st"  "2nd"  "3rd"  "4th"  "5th"  "6th"  "7th"  "8th"  "9th"  "10th"
[11] "11th" "12th"

In [ ]:
## paste works the same, but separates each input with a space.
## Notice that the recycling rules make every input as long as the longest input.
paste(month.abb, "is the", nth, "month of the year.")
paste(month.abb, letters)

## You can change the separator by passing a sep argument
## which can be multiple characters.
paste(month.abb, "is the", nth, "month of the year.", sep = "_*_")

## To collapse the output into a single string, pass a collapse argument.
paste0(nth, collapse = ", ")

## For inputs of length 1, use the sep argument rather than collapse
paste("1st", "2nd", "3rd", collapse = ", ") # probably not what you wanted
paste("1st", "2nd", "3rd", sep = ", ")

## You can combine the sep and collapse arguments together.
paste(month.abb, nth, sep = ": ", collapse = "; ")

## Using paste() in combination with strwrap() can be useful
## for dealing with long strings.
(title <- paste(strwrap(
    "Stopping distance of cars (ft) vs. speed (mph) from Ezekiel (1930)",
    width = 30), collapse = "\n"))
plot(dist ~ speed, cars, main = title)

## group_nest()

In [ ]:
mpg %>%
  group_nest(manufacturer, keep = T) %>%

Nest a tibble using a grouping specification

In [ ]:
iris %>% head()

In [ ]:
# ---- use case 1: a grouped data frame
iris %>%
  group_by(Species) %>%
  group_nest() %>% str

In [ ]:
# this can be useful if the grouped data has been altered before nesting
iris %>%
  group_by(Species) %>%
  filter(Sepal.Length > mean(Sepal.Length)) %>%
  group_nest()

In [ ]:
#----- use case 2: using group_nest() on a ungrouped data frame with
#                  a grouping specification that uses the data mask
starwars %>%
  group_nest(species, homeworld)

## glue

In [ ]:
# glue examples
name <- "Fred"
age <- 50
anniversary <- as.Date("1991-10-12")
glue('My name is {name},',
  'my age next year is {age + 1},',
  'my anniversary is {format(anniversary, "%A, %B %d, %Y")}.')

In [ ]:
# single braces can be inserted by doubling them
glue("My name is {name}, not {{name}}.")

In [ ]:
# Named arguments can be used to assign temporary variables.
glue('My name is {name},',
  ' my age next year is {age + 1},',
  ' my anniversary is {format(anniversary, "%A, %B %d, %Y")}.',
  name = "Joe",
  age = 40,
  anniversary = as.Date("2001-10-12"))

In [ ]:
# `glue_data()` is useful in magrittr pipes
# library(magrittr)
mtcars %>% glue_data("{rownames(.)} has {hp} hp")

In [ ]:
# Or within dplyr pipelines
# library(dplyr)
head(iris) %>%
  mutate(description = glue("This {Species} has a petal length of {Petal.Length}"))

In [ ]:
# Alternative delimiters can also be used if needed
one <- "1"
glue("The value of $e^{2\\pi i}$ is $<<one>>$.", .open = "<<", .close = ">>")

## Map

In [ ]:
1:10 %>%
  map(rnorm, n = 10) %>%
  map_dbl(mean) %>% round(2)

In [ ]:
# Or use an anonymous function
1:10 %>%
  map(function(x) rnorm(10, x))

In [ ]:
# Or a formula
1:10 %>%
  map(~ rnorm(10, .x))

In [ ]:
# Using set_names() with character vectors is handy to keep track
# of the original inputs:
set_names(c("foo", "bar")) %>% map_chr(paste0, ":suffix")

In [ ]:
# Extract by name or position
# .default specifies value for elements that are missing or NULL
l1 <- list(list(a = 1L), list(a = NULL, b = 2L), list(b = 3L))
l1

In [ ]:
l1 %>% map("a", .default = "???")

In [ ]:
l1 %>% map_int("b", .default = NA)

In [ ]:
l1 %>% map_int(2, .default = NA)

In [ ]:
# Supply multiple values to index deeply into a list
l2 <- list(
  list(num = 1:3,     letters[1:3]),
  list(num = 101:103, letters[4:6]),
  list()
)

cat('\n',"l2 ", str_dup("-",57), '\n')
l2 

cat('\n',"l2 %>% map(c(2, 2))", str_dup("-",41), '\n')
l2 %>% map(c(2, 2))

In [ ]:
# Use a list to build an extractor that mixes numeric indices and names,
# and .default to provide a default value if the element does not exist

l2 %>% map(list("num", 3))
l2 %>% map_int(list("num", 3), .default = NA)

In [ ]:
# A more realistic example: split a data frame into pieces, fit a
# model to each piece, summarise and extract R^2
mtcars %>%
  split(.$cyl) %>%
  map(~ lm(mpg ~ wt, data = .x)) %>%
  map(summary) %>%
  map_dbl("r.squared")

In [ ]:
# Use map_lgl(), map_dbl(), etc to reduce output to a vector instead
# of a list:
mtcars %>% map_dbl(sum)

In [ ]:
# If each element of the output is a data frame, use
# map_dfr to row-bind them together:
mtcars %>%
  split(.$cyl) %>%
  map(~ lm(mpg ~ wt, data = .x)) %>%
  map_dfr(~ as.data.frame(t(as.matrix(coef(.)))))
# (if you also want to preserve the variable names see
# the broom package)

In [ ]:
mtcars %>%
  split(.$cyl) %>%
  map(~ lm(mpg ~ wt, data = .))